<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="ph.cpi.mybatis.mapper.AccountingInTrustMapper">
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitCvPaytReq" id="acitCvPaytReqListMap">
		<result property="tranId" 		column="TRAN_ID"/>
		<result property="itemNo" 		column="ITEM_NO"/>
		<result property="reqId" 		column="REQ_ID"/>
		<result property="reqPrefix" 	column="REQ_PREFIX"/>
		<result property="reqYear" 		column="REQ_YEAR"/>
		<result property="reqMm" 		column="REQ_MM"/>
		<result property="reqSeqNo" 	column="REQ_SEQ_NO"/>
		<result property="tranTypeCd" 	column="TRAN_TYPE_CD"/>
		<result property="reqDate" 		column="REQ_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="requestedBy" 	column="REQUESTED_BY"/>
		<result property="particulars" 	column="PARTICULARS"/>
		<result property="currCd" 		column="CURR_CD"/>
		<result property="currRate" 	column="CURR_RATE"/>
		<result property="reqAmt" 		column="REQ_AMT"/>
		<result property="localAmt" 	column="LOCAL_AMT"/>
		<result property="createUser" 	column="CREATE_USER"/>
		<result property="createDate" 	column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser" 	column="UPDATE_USER"/>
		<result property="updateDate" 	column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitPaytReq" id="acitPaytReqMap">
		<result property="paytReqNo"		column="PAYT_REQ_NO"/>
		<result property="reqId"			column="REQ_ID"/>
		<result property="reqPrefix"		column="REQ_PREFIX"/>
		<result property="reqYear"			column="REQ_YEAR"/>
		<result property="reqMm"			column="REQ_MM"/>
		<result property="reqSeqNo"			column="REQ_SEQ_NO"/>
		<result property="tranTypeCd"		column="TRAN_TYPE_CD"/>
		<result property="tranTypeDesc"		column="TRAN_TYPE_DESC"/>
		<result property="reqDate"			column="REQ_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="reqStatus"		column="REQ_STATUS"/>
		<result property="reqStatusDesc"	column="REQ_STATUS_DESC"/>
		<result property="payeeNo"			column="PAYEE_NO"/>
		<result property="payee"			column="PAYEE"/>
		<result property="currCd"			column="CURR_CD"/>
		<result property="currRate"			column="CURR_RATE"/>
		<result property="reqAmt"			column="REQ_AMT"/>
		<result property="localAmt"			column="LOCAL_AMT"/>
		<result property="particulars"		column="PARTICULARS"/>
		<result property="preparedBy"		column="PREPARED_BY"/>
		<result property="preparedDate"		column="PREPARED_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="requestedBy"		column="REQUESTED_BY"/>
		<result property="approvedBy"		column="APPROVED_BY"/>
		<result property="approvedDate"		column="APPROVED_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="createUser" 		column="CREATE_USER"/>
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser" 		column="UPDATE_USER"/>
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitPrqTrans" id="acitPrqTransMap">
		<result property="reqId"				column="REQ_ID"/>
		<result property="itemNo"				column="ITEM_NO"/>
		<result property="claimId"				column="CLAIM_ID"/>
		<result property="projId"				column="PROJ_ID"/>
		<result property="histNo"				column="HIST_NO"/>
		<result property="policyId"				column="POLICY_ID"/>
		<result property="instNo"				column="INST_NO"/>
		<result property="quarterEnding"		column="QUARTER_ENDING" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="investmentId"			column="INVESTMENT_ID"/>
		<result property="refNo"				column="REF_NO"/>
		<result property="paymentFor"			column="PAYMENT_FOR"/>
		<result property="currCd"				column="CURR_CD"/>
		<result property="currRate"				column="CURR_RATE"/>
		<result property="currAmt"				column="CURR_AMT"/>
		<result property="localAmt"				column="LOCAL_AMT"/>
		<result property="remarks"				column="REMARKS"/>
		<result property="createUser" 			column="CREATE_USER"/>
		<result property="createDate" 			column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser" 			column="UPDATE_USER"/>
		<result property="updateDate" 			column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<select id="retrieveAcitCvPaytReqList" resultMap="acitCvPaytReqListMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_CV_PAYTREQLIST_PKG.ret_payt_req_list(
					#{tranId,jdbcType=INTEGER},
					#{itemNo,jdbcType=INTEGER},
					'', '', '',''))
	</select>
	<select id="retrieveAcitPaytReq" resultMap="acitPaytReqMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_PAYMENT_REQUEST_PKG.ret_payt_req(
					#{reqId,jdbcType=INTEGER},
					#{paytReqNo, jdbcType=VARCHAR},
					#{tranTypeDesc, jdbcType=VARCHAR},
					CAST(to_timestamp(#{reqDateFrom,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
					CAST(to_timestamp(#{reqDateTo,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
					#{reqStatusDesc, jdbcType=VARCHAR},
					#{payee, jdbcType=VARCHAR},
					#{currCd, jdbcType=VARCHAR},
					#{reqAmt, jdbcType=INTEGER},
					#{particulars, jdbcType=VARCHAR},
					#{requestedBy, jdbcType=VARCHAR},
					'', '', '',''))
	</select>
	
	<select id="retrieveAcitPrqTrans" resultMap="acitPrqTransMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_PRQ_TRANS_PKG.ret_acit_prq_trans(
					#{reqId,jdbcType=INTEGER},
					#{itemNo, jdbcType=INTEGER},
					'', '', '',''))
	</select>
	
	<update id="saveAcitPaytReq" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			ACIT_PAYMENT_REQUEST_PKG.save_payt_req(
				#{paytReqNo,mode=OUT,jdbcType=VARCHAR},
				#{reqId, jdbcType=INTEGER},
				#{reqPrefix, jdbcType=VARCHAR},
				#{reqYear, jdbcType=VARCHAR},
				#{reqMm, jdbcType=INTEGER},
				#{reqSeqNo, jdbcType=VARCHAR},
				#{tranTypeCd, jdbcType=VARCHAR},
				CAST(to_timestamp(#{reqDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{reqStatus, jdbcType=VARCHAR},
				#{payeeNo, jdbcType=VARCHAR},
				#{payee, jdbcType=VARCHAR},
				#{currCd, jdbcType=VARCHAR},
				#{currRate, jdbcType=VARCHAR},
				#{reqAmt, jdbcType=INTEGER},
				#{localAmt, jdbcType=INTEGER},
				#{particulars, jdbcType=VARCHAR},
				#{preparedBy, jdbcType=VARCHAR},
				CAST(to_timestamp(#{preparedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{requestedBy, jdbcType=VARCHAR},
				#{approvedBy, jdbcType=VARCHAR},
				CAST(to_timestamp(#{approvedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{createUser, jdbcType=VARCHAR},
				CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{updateUser, jdbcType=VARCHAR},
				CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
			);
		END;
	</update>
	
	<select id="retrieveAcitCMDMList" resultMap="CMDMMapper">
		SELECT * FROM TABLE(ACIT_CRDR_MEMO_PKG.ret_acit_crdr_memo_list(#{tranId, jdbcType=VARCHAR},NULL,NULL,NULL,NULL))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitCMDM" id="CMDMMapper">
		<result property="tranId" column="CMDM_TRAN_ID"/>
		<result property="memoType" column="MEMO_TYPE"/>
		<result property="memoTranType" column="MEMO_TRAN_TYPE"/>
		<result property="tranTypeName" column="TRAN_TYPE_NAME"/>
		<result property="memoYear" column="MEMO_YEAR"/>
		<result property="memoMm" column="MEMO_MM"/>
		<result property="memoSeqNo" column="MEMO_SEQ_NO"/>
		<result property="tranTypeCd" column="CMDM_TRAN_TYPE_CD"/>
		<result property="groupTag" column="GROUP_TAG"/>
		<result property="autoTag" column="AUTO_TAG"/>
		<result property="memoDate" column="MEMO_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="memoStatus" column="MEMO_STATUS"/>
		<result property="status" column="STATUS"/>
		<result property="refNo" column="REF_NO"/>
		<result property="refNoTranId" column="REF_NO_TRAN_ID"/>
		<result property="refNoDate" column="REF_NO_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="payeeNo" column="PAYEE_NO"/>
		<result property="payee" column="PAYEE"/>
		<result property="particulars" column="PARTICULARS"/>
		<result property="currCd" column="CURR_CD"/>
		<result property="currRate" column="CURR_RATE"/>
		<result property="cmdmAmt" column="CMDM_AMT"/>
		<result property="localAmt" column="LOCAL_AMT"/>
		<result property="createUser" column="CMDM_CREATE_USER"/>
		<result property="createDate" column="CMDM_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser" column="CMDM_UPDATE_USER"/>
		<result property="updateDate" column="CMDM_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<update id="saveAcitCMDM" parameterType="java.util.Map"  statementType="CALLABLE">
		BEGIN
			ACIT_CRDR_MEMO_PKG.save_acit_crdr_memo(#{tranId,  mode=INOUT, jdbcType=VARCHAR},#{memoType},#{memoTranType, jdbcType=VARCHAR},#{memoYear, jdbcType=VARCHAR},#{memoMm, jdbcType=VARCHAR},#{memoSeqNo, jdbcType=VARCHAR},#{tranTypeCd},#{autoTag},
				CAST(to_timestamp(#{memoDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
				,#{memoStatus},#{refNoTranId},
				CAST(to_timestamp(#{refNoDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
				,#{payeeNo, jdbcType=VARCHAR},#{payee},#{particulars},#{currCd},#{currRate},#{cmdmAmt},#{localAmt},#{createUser},
				CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
				,
				#{updateUser},
				CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
				);
		END;
	</update>
	
	<select id="retrieveAcitRefNoLOV" resultMap="refNoLovMap">
		SELECT * FROM TABLE(ACIT_CRDR_MEMO_PKG.get_ref_nos(#{arTag, jdbcType=VARCHAR},
			#{cvTag, jdbcType=VARCHAR},
			#{jvTag, jdbcType=VARCHAR},
			#{cmTag, jdbcType=VARCHAR},
			#{dmTag, jdbcType=VARCHAR},
			#{groupTag, jdbcType=VARCHAR},
			#{tranStat, jdbcType=VARCHAR},
			#{arStatus, jdbcType=VARCHAR},
			#{cvStatus, jdbcType=VARCHAR},
			#{jvStatus, jdbcType=VARCHAR},
			#{memoStatus, jdbcType=VARCHAR}))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.RefNoLov" id="refNoLovMap">
		<result property="tranId" column="TRAN_ID"/>
		<result property="tranClass" column="TRAN_CLASS"/>
		<result property="tranNo" column="TRAN_NO"/>
		<result property="tranTypeName" column="TRAN_TYPE_NAME"/>
		<result property="tranDate" column="TRAN_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="tranStat" column="TRAN_STAT"/>
		<result property="particulars" column="PARTICULARS"/>
		<result property="status" column="STATUS"/>
		<result property="amount" column="AMOUNT"/>
	</resultMap>

	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcknowledgementReceipt" id="arListMap">
		<result property="tranId"			column="TRAN_ID" />
		<result property="arNo"				column="AR_NO" />
		<result property="arDate"			column="AR_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="arStatDesc"		column="AR_STATUS" />
		<result property="tranTypeName"		column="TRAN_TYPE_NAME" />
		<result property="payor"			column="PAYOR" />
		<result property="arAmt"			column="AR_AMT" />
		<result property="particulars"		column="PARTICULARS" />
		<result property="createUser"		column="CREATE_USER" />
		<result property="createDate"		column="CREATE_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser"		column="UPDATE_USER" />
		<result property="updateDate"		column="UPDATE_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<select id="retArList" resultMap="arListMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_ACKGT_RECEIPT_PKG.ret_ar_list(
																#{arNo, jdbcType=VARCHAR},
																#{payor, jdbcType=VARCHAR},
																CAST(to_timestamp(#{arDateFrom,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
																CAST(to_timestamp(#{arDateTo,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
																#{tranTypeName, jdbcType=VARCHAR},
																#{arStatus, jdbcType=VARCHAR},
																#{particulars, jdbcType=VARCHAR},
																#{arAmtFrom, jdbcType=VARCHAR},
																#{arAmtTo, jdbcType=VARCHAR},
																NULL,
																NULL,
																NULL,
																NULL
															   )
						   )
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcknowledgementReceipt" id="arEntryMap">
		<result property="tranId"        column="TRAN_ID"           />
		<result property="arNo"          column="AR_NO"             />
		<result property="arDate"        column="AR_DATE"          typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="arStatus"      column="AR_STATUS"         />
		<result property="arStatDesc"    column="AR_STAT_DESC"      />
		<result property="dcbYear"       column="DCB_YEAR"          />
		<result property="dcbUserCd"     column="DCB_USER_CD"       />
		<result property="dcbNo"         column="DCB_NO"            />
		<result property="dcbBank"       column="DCB_BANK"          />
		<result property="dcbBankAcct"   column="DCB_BANK_ACCT"     />
		<result property="refNo"         column="REF_NO"            />
		<result property="tranTypeCd"    column="TRAN_TYPE_CD"      />
		<result property="tranTypeName"  column="TRAN_TYPE_NAME"    />
		<result property="prNo"          column="PR_NO"             />
		<result property="prDate"        column="PR_DATE"          typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="prPreparedBy"  column="PR_PREPARED_BY"    />
		<result property="payor"         column="PAYOR"             />
		<result property="mailAddress"   column="MAIL_ADDRESS"      />
		<result property="bussTypeCd"    column="BUSS_TYPE_CD"      />
		<result property="tin"           column="TIN"               />
		<result property="currCd"        column="AAR_CURR_CD"       />
		<result property="arAmt"         column="AR_AMT"            />
		<result property="currRate"      column="AAR_CURR_RATE"     />
		<result property="particulars"   column="PARTICULARS"       />
		<result property="createUser"    column="CREATE_USER"       />
		<result property="createDate"    column="CREATE_DATE"      typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser"    column="UPDATE_USER"       />
		<result property="updateDate"    column="UPDATE_DATE"      typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<association property="paytDtl"  resultMap="paytDtlAssoc"   />
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.ARPaymentDetails" id="paytDtlAssoc">
		<result property="paytId"          column="PAYT_ID" />
		<result property="paytMode"        column="PAYT_MODE" />
		<result property="currCd"          column="AAP_CURR_CD" />
		<result property="currRate"        column="AAP_CURR_RATE" />
		<result property="paytAmt"         column="PAYT_AMT" />
		<result property="bank"            column="BANK" />
		<result property="bankAcct"        column="BANK_ACCT" />
		<result property="checkNo"         column="CHECK_NO" />
		<result property="checkDate"       column="CHECK_DATE"          typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="checkClass"      column="CHECK_CLASS" />
	</resultMap>
	
	<select id="retArEntry" resultMap="arEntryMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_ACKGT_RECEIPT_PKG.ret_ar_entry(
																	#{tranId},
																	#{arNo}
															   )
						   )
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitTransactions" id="transactionMap">
		<result property="tranId" column="TRAN_ID"/>
		<result property="tranDate" column="TRAN_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="tranClass" column="TRAN_CLASS"/>
		<result property="tranTypeCd" column="TRAN_TYPE_CD"/>
		<result property="tranYear" column="TRAN_YEAR"/>
		<result property="tranClassNo" column="TRAN_CLASS_NO"/>
		<result property="tranStat" column="TRAN_STAT"/>
		<result property="closeDate" column="CLOSE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="deleteDate" column="DELETE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="postDate" column="POST_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="createUser" column="CREATE_USER"/>
		<result property="createDate" column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" column="UPDATE_USER"/>
		<result property="updateDate" column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property="jvListings" resultMap="jvMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitJVListing" id="jvMap">
		<result property="tranId" column="JV_TRAN_ID"/>
		<result property="jvYear" column="JV_YEAR"/>
		<result property="jvNo" column="JV_NO"/>
		<result property="jvDate" column="JV_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="jvStatus" column="JV_STATUS"/>
		<result property="tranTypeCd" column="JV_TRAN_TYPE_CD"/>
		<result property="tranTypeName" column="TRAN_TYPE"/>
		<result property="autoTag" column="AUTO_TAG"/>
		<result property="refnoTranId" column="REFNO_TRAN_ID"/>
		<result property="refnoDate" column="REFNO_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="particulars" column="PARTICULARS"/>
		<result property="currCd" column="CURR_CD"/>
		<result property="currRate" column="CURR_RATE"/>
		<result property="jvAmt" column="JV_AMT"/>
		<result property="localAmt" column="LOCAL_AMT"/>
		<result property="allocTag" column="ALLOC_TAG"/>
		<result property="allocTranId" column="ALLOC_TRAN_ID"/>
		<result property="preparedBy" column="PREPARED_BY"/>
		<result property="preparedDate" column="PREPARED_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="approvedBy" column="APPROVED_BY"/>
		<result property="approvedDate" column="APPROVED_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="createUser" column="JV_CREATE_USER"/>
		<result property="createDate" column="JV_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" column="JV_UPDATE_USER"/>
		<result property="updateDate" column="JV_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property="inwPolBal" resultMap="inwPolBalMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitJVAdjstInwPolBal" id="inwPolBalMap">
		<result property="tranId" column="AIPB_TRAN_ID"/>
		<result property="itemNo" column="AIPB_ITEM_NO"/>
		<result property="policyId" column="AIPB_POLICY_ID"/>
		<result property="policyNo" column="AIPB_POLICY_NO"/>
		<result property="soaNo" column="AIPB_SOA_NO"/>
		<result property="coRefNo" column="AIPB_CO_REF_NO"/>
		<result property="effDate" column="AIPB_EFF_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="dueDate" column="AIPB_DUE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="instNo" column="AIPB_INST_NO"/>
		<result property="currCd" column="AIPB_CURR_CD"/>
		<result property="currRate" column="AIPB_CURR_RATE"/>
		<result property="premAmt" column="AIPB_PREM_AMT"/>
		<result property="riComm" column="AIPB_RI_COMM"/>
		<result property="riCommVat" column="AIPB_RI_COMM_VAT"/>
		<result property="charges" column="AIPB_CHARGES"/>
		<result property="netDue" column="AIPB_NET_DUE"/>
		<result property="totalPayments" column="AIPB_TOTAL_PAYMENTS"/>
		<result property="balAmtDue" column="AIPB_BALANCE"/>
		<result property="prevPaytAmt" column="AIPB_PREV_PAYT_AMT"/>
		<result property="adjBalAmt" column="AIPB_ADJ_BAL_AMT"/>
		<result property="overdueInt" column="AIPB_OVERDUE_INT"/>
		<result property="createUser" column="AIPB_CREATE_USER"/>
		<result property="createDate" column="AIPB_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" column="AIPB_UPDATE_USER"/>
		<result property="updateDate" column="AIPB_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitSOAAgingDetails" id="soaAgingMap">
		<result property="policyId" column="POLICY_ID"/>
		<result property="cedingId" column="CEDING_ID"/>
		<result property="policyNo" column="POLICY_NO"/>
		<result property="soaNo" column="SOA_NO"/>
		<result property="coRefNo" column="CO_REF_NO"/>
		<result property="instNo" column="INST_NO"/>
		<result property="currCd" column="CURR_CD"/>
		<result property="currRate" column="CURR_RATE"/>
		<result property="totalAmtDue" column="TOTAL_AMT_DUE"/>
		<result property="totalPayments" column="TOTAL_PAYMENTS"/>
		<result property="tempPayments" column="TEMP_PAYMENTS"/>
		<result property="balAmtDue" column="BAL_AMT_DUE"/>
		<result property="balPremDue" column="BAL_PREM_DUE"/>
		<result property="balChargesDue" column="BAL_CHARGES_DUE"/>
		<result property="balRiComm" column="BAL_RI_COMM"/>
		<result property="balRiCommVat" column="BAL_RI_COMM_VAT"/>
		<result property="balOverdueInt" column="BAL_OVERDUE_INT"/>
		<result property="effDate" column="EFF_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="dueDate" column="DUE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="bookingDate" column="BOOKING_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="agingId" column="AGING_ID"/>
		<result property="netDue" column="NET_DUE"/>
		<result property="balance" column="BALANCE"/>
		<result property="createUser" column="CREATE_USER"/>
		<result property="createDate" column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" column="UPDATE_USER"/>
		<result property="updateDate" column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveAcitJvList" resultMap="transactionMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_JOURNAL_VOUCHER_PKG.ret_acit_jv(
					#{tranId,jdbcType=INTEGER},
					'', '', '',''))
	</select>
	
	<select id="retrieveAcitJvEntry" resultMap="transactionMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_JOURNAL_VOUCHER_PKG.ret_acit_jv_ent(
					#{tranId,jdbcType=INTEGER},
					'', '', '',''))
	</select>
	
	<update id="saveAcitJVEntry" parameterType="java.util.Map" statementType="CALLABLE">
		DECLARE
			v_tran_id	ACIT_TRANSACTIONS.TRAN_ID%TYPE;
		BEGIN
			ACIT_JOURNAL_VOUCHER_PKG.save_acit_jv(v_tran_id,#{tranId, jdbcType=VARCHAR}, 
												  CAST(to_timestamp(#{tranDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),#{tranType,jdbcType=INTEGER},
												  #{tranYear,jdbcType=VARCHAR}, #{tranClassNo,jdbcType=VARCHAR}, 
												  #{tranStat}, CAST(to_timestamp(#{closeDate,jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{deleteDate,jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{postDate,jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{createUser}, CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), #{updateUser},   
												  CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{tranIdJv,jdbcType=VARCHAR}, #{jvYear,jdbcType=VARCHAR},
												  #{jvNo,jdbcType=VARCHAR}, CAST(to_timestamp(#{jvDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), #{jvStatus}, #{jvTranTypeCd}, 
												  #{autoTag}, #{refnoTranId,jdbcType=VARCHAR}, CAST(to_timestamp(#{refnoDate,jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), 
												  #{particulars}, #{currCd}, #{currRate}, #{jvAmt}, #{localAmt}, #{allocTag,jdbcType=VARCHAR}, #{allocTranId,jdbcType=VARCHAR}, 
												  #{preparedBy,jdbcType=VARCHAR}, 
												  CAST(to_timestamp(#{preparedDate,jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), #{approvedBy,jdbcType=VARCHAR}, 
												  CAST(to_timestamp(#{approvedDate,jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), 
												  #{createUserJv}, CAST(to_timestamp(#{createDateJv}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), #{updateUserJv}, 
												  CAST(to_timestamp(#{updateDateJv}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE));
			#{tranIdOut, mode=OUT, jdbcType=INTEGER} := v_tran_id;
		END;
		
	</update>
	
	<select id="retrieveAcitSOAAging" resultMap="soaAgingMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_JOURNAL_VOUCHER_PKG.ret_acit_jv_soa(
					#{tranId},
					#{policyId,jdbcType=INTEGER},
					#{instNo,jdbcType=INTEGER},
					#{cedingId},
					'', '', '',''))
	</select>
	
	<select id="retrieveAcitJvInwPolBal" resultMap="inwPolBalMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_JOURNAL_VOUCHER_PKG.ret_acit_jv_aipb(
					#{tranId},
					#{instNo,jdbcType=INTEGER},
					#{cedingCo},
					'', '', '',''))
	</select>

	<update id="updateAcitPaytReqStat" parameterType="java.util.Map">
		BEGIN
			ACIT_PAYMENT_REQUEST_PKG.up_acit_paytreqstat(
				#{reqId, jdbcType=INTEGER},
				#{reqStatus, jdbcType=VARCHAR},
				#{updateUser, jdbcType=VARCHAR}
			);
		END;
	</update>
	
	 <update id="saveAcitPrqTrans" parameterType="java.util.Map">
    	BEGIN
    		<foreach collection="savePrqTrans" item="save">
	    		ACIT_PRQ_TRANS_PKG.save_acit_prq_trans(
	    			#{save.reqId, jdbcType=INTEGER},
					#{save.itemNo, jdbcType=INTEGER},
					#{save.claimId, jdbcType=INTEGER},
					#{save.projId, jdbcType=INTEGER},
					#{save.histNo, jdbcType=INTEGER},
					#{save.policyId, jdbcType=INTEGER},
					#{save.instNo, jdbcType=INTEGER},
					CAST(to_timestamp(#{save.quarterEnding}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
					#{save.investmentId, jdbcType=INTEGER},
					#{save.refNo, jdbcType=VARCHAR},
					#{save.paymentFor, jdbcType=VARCHAR},
					#{save.currCd, jdbcType=VARCHAR},
					#{save.currRate, jdbcType=INTEGER},
					#{save.currAmt, jdbcType=INTEGER},
					#{save.localAmt, jdbcType=INTEGER},
					#{save.remarks, jdbcType=VARCHAR},
			        #{save.createUser,jdbcType=VARCHAR},
			        CAST(to_timestamp(#{save.createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
			        #{save.updateUser,jdbcType=VARCHAR},
			        CAST(to_timestamp(#{save.updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
	    		);
    		</foreach>
    		<foreach collection="deletePrqTrans" item="del">
    			ACIT_PRQ_TRANS_PKG.del_acit_prq_trans(
    				#{del.reqId, jdbcType=INTEGER},
					#{del.itemNo, jdbcType=INTEGER});
    		</foreach>
    	END;
    </update>

	<update id="cancelCMDM" parameterType="java.util.Map">
		BEGIN
			ACIT_CRDR_MEMO_PKG.cancel_memo(#{tranId},#{updateUser},CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE));
		END;
	</update>
	
	<update id="printCMDM" parameterType="java.util.Map">
		BEGIN
			ACIT_CRDR_MEMO_PKG.print_memo(#{tranId},#{updateUser},CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE));
		END;
	</update>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitAcctEntries" id="AcctEntriesMap">
		<result property="tranId"  column="TRAN_ID"/>
		<result property="entryId"  column="ENTRY_ID"/>
		<result property="glAcctId"  column="GL_ACCT_ID"/>
		<result property="glShortCd"  column="GL_SHORT_CD"/>
		<result property="glShortDesc"  column="GL_SHORT_DESC"/>
		<result property="slTypeCd"  column="SL_TYPE_CD"/>
		<result property="slTypeName"  column="SL_TYPE_NAME"/>
		<result property="slCd"  column="SL_CD"/>
		<result property="slName"  column="SL_NAME"/>
		<result property="creditAmt"  column="CREDIT_AMT"/>
		<result property="debitAmt"  column="DEBIT_AMT"/>
		<result property="autoTag"  column="AUTO_TAG"/>
		<result property="createUser"  column="CREATE_USER"/>
		<result property="createDate"  column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"  column="UPDATE_USER"/>
		<result property="updateDate"  column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveAcitAcctEntries" resultMap="AcctEntriesMap">
		SELECT * FROM TABLE(ACIT_ACCT_ENTRIES_PKG.ret_acit_acc_entries(#{tranId, jdbcType=VARCHAR},#{entryId, jdbcType=VARCHAR},#{glAcctId, jdbcType=VARCHAR},#{slTypeCd, jdbcType=VARCHAR},#{slCd, jdbcType=VARCHAR}))
	</select>
	
</mapper>