<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="ph.cpi.mybatis.mapper.AccountingInTrustMapper">
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitCvPaytReq" id="acitCvPaytReqListMap">
		<result property="tranId" 		column="TRAN_ID"/>
		<result property="itemNo" 		column="ITEM_NO"/>
		<result property="reqId" 		column="REQ_ID"/>
		<result property="reqPrefix" 	column="REQ_PREFIX"/>
		<result property="reqYear" 		column="REQ_YEAR"/>
		<result property="reqMm" 		column="REQ_MM"/>
		<result property="reqSeqNo" 	column="REQ_SEQ_NO"/>
		<result property="tranTypeCd" 	column="TRAN_TYPE_CD"/>
		<result property="reqDate" 		column="REQ_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="requestedBy" 	column="REQUESTED_BY"/>
		<result property="particulars" 	column="PARTICULARS"/>
		<result property="currCd" 		column="CURR_CD"/>
		<result property="currRate" 	column="CURR_RATE"/>
		<result property="reqAmt" 		column="REQ_AMT"/>
		<result property="localAmt" 	column="LOCAL_AMT"/>
		<result property="createUser" 	column="CREATE_USER"/>
		<result property="createDate" 	column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser" 	column="UPDATE_USER"/>
		<result property="updateDate" 	column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitPaytReq" id="acitPaytReqMap">
		<result property="paytReqNo"		column="PAYT_REQ_NO"/>
		<result property="reqId"			column="REQ_ID"/>
		<result property="reqPrefix"		column="REQ_PREFIX"/>
		<result property="reqYear"			column="REQ_YEAR"/>
		<result property="reqMm"			column="REQ_MM"/>
		<result property="reqSeqNo"			column="REQ_SEQ_NO"/>
		<result property="tranTypeCd"		column="TRAN_TYPE_CD"/>
		<result property="tranTypeDesc"		column="TRAN_TYPE_DESC"/>
		<result property="reqDate"			column="REQ_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="reqStatus"		column="REQ_STATUS"/>
		<result property="reqStatusDesc"	column="REQ_STATUS_DESC"/>
		<result property="payeeNo"			column="PAYEE_NO"/>
		<result property="payee"			column="PAYEE"/>
		<result property="currCd"			column="CURR_CD"/>
		<result property="currRate"			column="CURR_RATE"/>
		<result property="reqAmt"			column="REQ_AMT"/>
		<result property="localAmt"			column="LOCAL_AMT"/>
		<result property="particulars"		column="PARTICULARS"/>
		<result property="preparedBy"		column="PREPARED_BY"/>
		<result property="preparedDate"		column="PREPARED_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="requestedBy"		column="REQUESTED_BY"/>
		<result property="approvedBy"		column="APPROVED_BY"/>
		<result property="approvedDate"		column="APPROVED_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="createUser" 		column="CREATE_USER"/>
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser" 		column="UPDATE_USER"/>
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<select id="retrieveAcitCvPaytReqList" resultMap="acitCvPaytReqListMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_CV_PAYTREQLIST_PKG.ret_payt_req_list(
					#{tranId,jdbcType=INTEGER},
					#{itemNo,jdbcType=INTEGER},
					'', '', '',''))
	</select>
	<select id="retrieveAcitPaytReq" resultMap="acitPaytReqMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACIT_PAYMENT_REQUEST_PKG.ret_payt_req(
					#{reqId,jdbcType=INTEGER},
					#{paytReqNo, jdbcType=VARCHAR},
					#{tranTypeDesc, jdbcType=VARCHAR},
					CAST(to_timestamp(#{reqDateFrom,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
					CAST(to_timestamp(#{reqDateTo,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
					#{reqStatusDesc, jdbcType=VARCHAR},
					#{payee, jdbcType=VARCHAR},
					#{currCd, jdbcType=VARCHAR},
					#{reqAmt, jdbcType=INTEGER},
					#{particulars, jdbcType=VARCHAR},
					#{requestedBy, jdbcType=VARCHAR},
					'', '', '',''))
	</select>
	
	<update id="saveAcitPaytReq" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			ACIT_PAYMENT_REQUEST_PKG.save_payt_req(
				#{paytReqNo,mode=OUT,jdbcType=VARCHAR},
				#{reqId, jdbcType=INTEGER},
				#{reqPrefix, jdbcType=VARCHAR},
				#{reqYear, jdbcType=VARCHAR},
				#{reqMm, jdbcType=INTEGER},
				#{reqSeqNo, jdbcType=VARCHAR},
				#{tranTypeCd, jdbcType=VARCHAR},
				CAST(to_timestamp(#{reqDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{reqStatus, jdbcType=VARCHAR},
				#{payeeNo, jdbcType=VARCHAR},
				#{payee, jdbcType=VARCHAR},
				#{currCd, jdbcType=VARCHAR},
				#{currRate, jdbcType=VARCHAR},
				#{reqAmt, jdbcType=INTEGER},
				#{localAmt, jdbcType=INTEGER},
				#{particulars, jdbcType=VARCHAR},
				#{preparedBy, jdbcType=VARCHAR},
				CAST(to_timestamp(#{preparedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{requestedBy, jdbcType=VARCHAR},
				#{approvedBy, jdbcType=VARCHAR},
				CAST(to_timestamp(#{approvedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{createUser, jdbcType=VARCHAR},
				CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{updateUser, jdbcType=VARCHAR},
				CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
			);
		END;
	</update>
	
	<select id="retrieveAcitCMDMList" resultMap="CMDMMapper">
		SELECT * FROM TABLE(ACIT_CRDR_MEMO_PKG.ret_acit_crdr_memo_list(#{tranId, jdbcType=VARCHAR},NULL,NULL,NULL,NULL))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcitCMDM" id="CMDMMapper">
		<result property="tranId" column="CMDM_TRAN_ID"/>
		<result property="memoType" column="MEMO_TYPE"/>
		<result property="memoTranType" column="MEMO_TRAN_TYPE"/>
		<result property="tranTypeName" column="TRAN_TYPE_NAME"/>
		<result property="memoYear" column="MEMO_YEAR"/>
		<result property="memoMm" column="MEMO_MM"/>
		<result property="memoSeqNo" column="MEMO_SEQ_NO"/>
		<result property="tranTypeCd" column="CMDM_TRAN_TYPE_CD"/>
		<result property="autoTag" column="AUTO_TAG"/>
		<result property="memoDate" column="MEMO_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="memoStatus" column="MEMO_STATUS"/>
		<result property="status" column="STATUS"/>
		<result property="refNo" column="REF_NO"/>
		<result property="refNoTranId" column="REF_NO_TRAN_ID"/>
		<result property="refNoDate" column="REF_NO_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="payeeNo" column="PAYEE_NO"/>
		<result property="payee" column="PAYEE"/>
		<result property="particulars" column="PARTICULARS"/>
		<result property="currCd" column="CURR_CD"/>
		<result property="currRate" column="CURR_RATE"/>
		<result property="cmdmAmt" column="CMDM_AMT"/>
		<result property="localAmt" column="LOCAL_AMT"/>
		<result property="createUser" column="CMDM_CREATE_USER"/>
		<result property="createDate" column="CMDM_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser" column="CMDM_UPDATE_USER"/>
		<result property="updateDate" column="CMDM_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<update id="saveAcitCMDM" parameterType="java.util.Map">
		BEGIN
			ACIT_CRDR_MEMO_PKG.save_acit_crdr_memo(#{tranId, jdbcType=VARCHAR},#{memoType},#{memoTranType, jdbcType=VARCHAR},#{memoYear, jdbcType=VARCHAR},#{memoMm, jdbcType=VARCHAR},#{memoSeqNo, jdbcType=VARCHAR},#{tranTypeCd},#{autoTag},
				CAST(to_timestamp(#{memoDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
				,#{memoStatus},#{refNoTranId},
				CAST(to_timestamp(#{refNoDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
				,#{payeeNo, jdbcType=VARCHAR},#{payee},#{particulars},#{currCd},#{currRate},#{cmdmAmt},#{localAmt},#{createUser},
				CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
				,
				#{updateUser},
				CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
				);
		END;
	</update>
	
	<select id="retrieveAcitRefNoLOV" resultMap="refNoLovMap">
		SELECT * FROM TABLE(ACIT_CRDR_MEMO_PKG.get_ref_nos(#{arTag, jdbcType=VARCHAR},
			#{cvTag, jdbcType=VARCHAR},
			#{jvTag, jdbcType=VARCHAR},
			#{cmTag, jdbcType=VARCHAR},
			#{dmTag, jdbcType=VARCHAR},
			#{tranStat, jdbcType=VARCHAR},
			#{arStatus, jdbcType=VARCHAR},
			#{cvStatus, jdbcType=VARCHAR},
			#{jvStatus, jdbcType=VARCHAR},
			#{memoStatus, jdbcType=VARCHAR}))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.accountingintrust.RefNoLov" id="refNoLovMap">
		<result property="tranId" column="TRAN_ID"/>
		<result property="tranClass" column="TRAN_CLASS"/>
		<result property="tranNo" column="TRAN_NO"/>
		<result property="tranTypeName" column="TRAN_TYPE_NAME"/>
		<result property="tranDate" column="TRAN_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="tranStat" column="TRAN_STAT"/>
		<result property="particulars" column="PARTICULARS"/>
		<result property="status" column="STATUS"/>
		<result property="amount" column="AMOUNT"/>
	</resultMap>
</mapper>