<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="ph.cpi.mybatis.mapper.AccountingInTrustMapper">

	<resultMap type="ph.cpi.rest.api.model.accountingservice.OfficialReceipt" id="orListMap">
		<result property="tranId"			column="TRAN_ID" />
		<result property="orType"			column="OR_TYPE" />
		<result property="orNo"				column="OR_NO" />
		<result property="formattedOrNo"	column="FORMATTED_OR_NO" />
		<result property="orDate"			column="OR_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="orStatus"		    column="OR_STATUS" />
		<result property="tranStat"			column="TRAN_STAT" />
		<result property="orStatDesc"		column="OR_STAT_DESC" />
		<result property="tranStatDesc"		column="TRAN_STAT_DESC" />
		<result property="tranTypeName"		column="TRAN_TYPE_NAME" />
		<result property="payor"			column="PAYOR" />
		<result property="orAmt"			column="OR_AMT" />
		<result property="particulars"		column="PARTICULARS" />
		<result property="createUser"		column="CREATE_USER" />
		<result property="createDate"		column="CREATE_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser"		column="UPDATE_USER" />
		<result property="updateDate"		column="UPDATE_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<select id="retOrList" resultMap="orListMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACSE_OFFICIAL_RECEIPT_PKG.ret_or_list(
																#{orType, jdbcType=VARCHAR},
																#{orNo, jdbcType=VARCHAR},
																#{payor, jdbcType=VARCHAR},
																CAST(to_timestamp(#{orDateFrom,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
																CAST(to_timestamp(#{orDateTo,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
																#{tranTypeName, jdbcType=VARCHAR},
																#{orStatDesc, jdbcType=VARCHAR},
																#{particulars, jdbcType=VARCHAR},
																#{orAmtFrom, jdbcType=VARCHAR},
																#{orAmtTo, jdbcType=VARCHAR}
															   )
						   )
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.accountingservice.OfficialReceipt" id="orEntryMap">
		<result property="tranId"        column="TRAN_ID"           />
		<result property="orNo"          column="OR_NO"             />
		<result property="orType"        column="OR_TYPE"             />
		<result property="formattedOrNo" column="FORMATTED_OR_NO"   />
		<result property="orNoDigits"    column="OR_NO_DIGITS"      />
		<result property="orDate"        column="OR_DATE"          typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="orStatus"      column="OR_STATUS"         />
		<result property="tranStat"      column="TRAN_STAT"         />
		<result property="orStatDesc"    column="OR_STAT_DESC"      />
		<result property="tranStatDesc"  column="TRAN_STAT_DESC"    />
		<result property="dcbYear"       column="DCB_YEAR"          />
		<result property="dcbUserCd"     column="DCB_USER_CD"       />
		<result property="dcbNo"         column="DCB_NO"            />
		<result property="dcbStatus"     column="DCB_STATUS"            />
		<result property="dcbBank"       column="DCB_BANK"          />
		<result property="dcbBankName"   column="DCB_BANK_NAME"     />
		<result property="dcbBankAcct"   column="DCB_BANK_ACCT"     />
		<result property="dcbBankAcctNo" column="DCB_BANK_ACCT_NO"  />
		<result property="refNo"         column="REF_NO"            />
		<result property="tranTypeCd"    column="TRAN_TYPE_CD"      />
		<result property="tranTypeName"  column="TRAN_TYPE_NAME"    />
		<result property="prNo"          column="PR_NO"             />
		<result property="prDate"        column="PR_DATE"          typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="prPreparedBy"  column="PR_PREPARED_BY"    />
		<result property="payeeNo"       column="PAYEE_NO"          />
		<result property="payeeClassCd"  column="PAYEE_CLASS_CD"          />
		<result property="payor"         column="PAYOR"             />
		<result property="mailAddress"   column="MAIL_ADDRESS"      />
		<result property="bussTypeCd"    column="BUSS_TYPE_CD"      />
		<result property="tin"           column="TIN"               />
		<result property="refCd"         column="REF_CD"               />
		<result property="currCd"        column="OR_CURR_CD"       />
		<result property="orAmt"         column="OR_AMT"            />
		<result property="currRate"      column="OR_CURR_RATE"     />
		<result property="particulars"   column="PARTICULARS"       />
		<result property="createUser"    column="CREATE_USER"       />
		<result property="createDate"    column="CREATE_DATE"      typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser"    column="UPDATE_USER"       />
		<result property="updateDate"    column="UPDATE_DATE"      typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="cedingId"      column="CEDING_ID"       />
		<result property="bussTypeName"  column="BUSS_TYPE_NAME"       />
		<result property="rstrctTranUp"  column="RSTRCT_TRAN_UP"       />
		<result property="orDtlSum"      column="ORDTL_SUM"       />
		<result property="acctEntriesSum" column="ACCT_ENTRIES_SUM"       />
		<association property="paytDtl"  resultMap="acsePaytDtlAssoc"   />
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.accountingservice.ORPaymentDetails" id="acsePaytDtlAssoc">
		<result property="paytId"          column="PAYT_ID" />
		<result property="paytMode"        column="PAYT_MODE" />
		<result property="currCd"          column="ORP_CURR_CD" />
		<result property="currRate"        column="ORP_CURR_RATE" />
		<result property="paytAmt"         column="PAYT_AMT" />
		<result property="bank"            column="BANK" />
		<result property="bankAcct"        column="BANK_ACCT" />
		<result property="checkNo"         column="CHECK_NO" />
		<result property="checkDate"       column="CHECK_DATE"          typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="checkClass"      column="CHECK_CLASS" />
		<result property="remarks"         column="REMARKS" />
	</resultMap>
	
	<select id="retOrEntry" resultMap="orEntryMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACSE_OFFICIAL_RECEIPT_PKG.ret_or_entry(
																	#{tranId},
																	#{orNo, jdbcType=VARCHAR}
															   )
						   )
	</select>
	
	<update id="saveAcsetOrTrans" parameterType="java.util.Map" statementType="CALLABLE">
		DECLARE
			v_tran_id        ACIT_TRANSACTIONS.TRAN_ID%TYPE;
			v_message		 VARCHAR2(500);
		BEGIN
			ACSE_OFFICIAL_RECEIPT_PKG.save_acse_trans(
													v_tran_id,
													#{tranId},
													CAST(to_timestamp(#{tranDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													#{tranClass},
													#{tranTypeCd},
													#{tranYear},
													#{tranClassNo,jdbcType=VARCHAR},
													#{orType},
													#{tranStat},
													CAST(to_timestamp(#{closeDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													CAST(to_timestamp(#{deleteDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													CAST(to_timestamp(#{postDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													#{createUser},
													CAST(to_timestamp(#{createDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													#{updateUser},
													CAST(to_timestamp(#{updateDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
												  );
												  
			#{outTranId, mode=OUT, jdbcType=VARCHAR} := v_tran_id;
			
			IF v_tran_id <![CDATA[ <> ]]> 0 THEN
				ACSE_OFFICIAL_RECEIPT_PKG.save_or_info(
														v_tran_id,
														#{orType},
														#{tranClassNo, jdbcType=VARCHAR},
														CAST(to_timestamp(#{tranDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
														#{orStatus},
														#{tranTypeCd},
														#{dcbYear},
														#{dcbNo},
														#{dcbUserCd},
														#{dcbBank, jdbcType=VARCHAR},
														#{dcbBankAcct, jdbcType=VARCHAR},
														#{refNo, jdbcType=VARCHAR},
														#{prNo, jdbcType=VARCHAR},
														CAST(to_timestamp(#{prDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
														#{prPreparedBy, jdbcType=VARCHAR},
														#{payeeNo, jdbcType=VARCHAR},
														#{payeeClassCd, jdbcType=VARCHAR},
														#{payor},
														#{mailAddress, jdbcType=VARCHAR},
														#{bussTypeName, jdbcType=VARCHAR},
														#{tin, jdbcType=VARCHAR},
														#{particulars},
														#{currCd},
														#{currRate},
														#{orAmt},
														#{allocTag, jdbcType=VARCHAR},
														#{allocTranId, jdbcType=VARCHAR},
														#{createUser},
														CAST(to_timestamp(#{createDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
														#{updateUser},
														CAST(to_timestamp(#{updateDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
													);
				<foreach collection="delPaytDtl" item="del">
					ACSE_OR_PAYTDTL_PKG.del_or_paytdtl(
														v_tran_id,
														#{del.paytId}
													  );
				</foreach>
				<foreach collection="savePaytDtl" item="save">
					ACSE_OR_PAYTDTL_PKG.save_or_paytdtl(
														v_tran_id,
														#{save.paytId, jdbcType=VARCHAR},
														#{save.paytMode},
														#{save.currCd},
														#{save.currRate},
														#{save.paytAmt},
														#{save.bank, jdbcType=VARCHAR},
														#{save.bankAcct, jdbcType=VARCHAR},
														#{save.checkNo, jdbcType=VARCHAR},
														CAST(to_timestamp(#{save.checkDate,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
														#{save.checkClass, jdbcType=VARCHAR},
														#{save.remarks, jdbcType=VARCHAR}
													  );
				</foreach>
		    END IF;
		END;
	</update>
	
	<resultMap type="ph.cpi.rest.api.model.accountingservice.AcseJournalVoucherList" id="jvListMap">
		<result property="tranId" 			column="JV_TRAN_ID"/>
		<result property="jvYear" 			column="JV_YEAR"/>
		<result property="jvNo" 			column="JV_NO"/>
		<result property="jvDate" 			column="JV_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="jvStatus" 		column="JV_STATUS"/>
		<result property="statusName" 		column="JV_STATUS_NAME"/>
		<result property="tranTypeCd" 		column="TRAN_TYPE_CD"/>
		<result property="tranTypeName" 	column="TRAN_TYPE_NAME"/>
		<result property="autoTag" 			column="AUTO_TAG"/>
		<result property="refnoTranId" 		column="REFNO_TRAN_ID"/>
		<result property="refnoDate" 		column="REFNO_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="particulars" 		column="PARTICULARS"/>
		<result property="currCd" 			column="CURR_CD"/>
		<result property="currRate" 		column="CURR_RATE"/>
		<result property="jvAmt" 			column="JV_AMT"/>
		<result property="localAmt" 		column="LOCAL_AMT"/>
		<result property="allocTag" 		column="ALLOC_TAG"/>
		<result property="allocTranId" 		column="ALLOC_TRAN_ID"/>
		<result property="preparedBy" 		column="PREPARED_BY"/>
		<result property="preparedName" 	column="PREPARED_NAME"/>
		<result property="preparedPosition" column="PREPARED_POS"/>
		<result property="preparedDate" 	column="PREPARED_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="approvedBy" 		column="APPROVED_BY"/>
		<result property="approvedName" 	column="APPROVED_NAME"/>
		<result property="approvedPosition" column="APPROVED_POS"/>
		<result property="approvedDate" 	column="APPROVED_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="createUser" 		column="JV_CREATE_USER"/>
		<result property="createDate" 		column="JV_CREATE_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 		column="JV_UPDATE_USER"/>
		<result property="updateDate" 		column="JV_UPDATE_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveJVList" resultMap="jvListMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACSE_JOURNAL_VOUCHER_PKG.ret_acse_jv_list(#{tranId, jdbcType=INTEGER},null,null,null,null))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.accountingservice.AcseJournalVoucherEntry" id="jvEntryMap">
		<result property="tranIdTran" column="TRAN_ID"/>
		<result property="tranDate" column="TRAN_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="tranClass" column="TRAN_CLASS"/>
		<result property="tranYear" column="TRAN_YEAR"/>
		<result property="tranClassNo" column="TRAN_CLASS_NO"/>
		<result property="tranStat" column="TRAN_STAT"/>
		<result property="closeDate" column="CLOSE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="deleteDate" column="DELETE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="postDate" column="POST_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="createUserTran" column="CREATE_USER"/>
		<result property="createDateTran" column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUserTran" column="UPDATE_USER"/>
		<result property="updateDateTran" column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="tranTypeCd" column="TRAN_TYPE_CD"/>
		
		<result property="tranId" 			column="JV_TRAN_ID"/>
		<result property="jvYear" 			column="JV_YEAR"/>
		<result property="jvNo" 			column="JV_NO"/>
		<result property="jvDate" 			column="JV_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="jvStatus" 		column="JV_STATUS"/>
		<result property="statusName" 		column="JV_STATUS_NAME"/>
		<result property="tranTypeCd" 		column="JV_TRAN_TYPE_CD"/>
		<result property="tranTypeName" 	column="TRAN_TYPE_NAME"/>
		<result property="autoTag" 			column="AUTO_TAG"/>
		<result property="refnoTranId" 		column="REFNO_TRAN_ID"/>
		<result property="refnoDate" 		column="REFNO_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="particulars" 		column="PARTICULARS"/>
		<result property="currCd" 			column="CURR_CD"/>
		<result property="currRate" 		column="CURR_RATE"/>
		<result property="jvAmt" 			column="JV_AMT"/>
		<result property="localAmt" 		column="LOCAL_AMT"/>
		<result property="allocTag" 		column="ALLOC_TAG"/>
		<result property="allocTranId" 		column="ALLOC_TRAN_ID"/>
		<result property="preparedBy" 		column="PREPARED_BY"/>
		<result property="preparedName" 	column="PREPARED_NAME"/>
		<result property="preparedPosition" column="PREPARED_POS"/>
		<result property="preparedDate" 	column="PREPARED_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="approvedBy" 		column="APPROVED_BY"/>
		<result property="approvedName" 	column="APPROVED_NAME"/>
		<result property="approvedPosition" column="APPROVED_POS"/>
		<result property="approvedDate" 	column="APPROVED_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="createUser" 		column="JV_CREATE_USER"/>
		<result property="createDate" 		column="JV_CREATE_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 		column="JV_UPDATE_USER"/>
		<result property="updateDate" 		column="JV_UPDATE_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveJVEntry" resultMap="jvEntryMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACSE_JOURNAL_VOUCHER_PKG.ret_acse_jv_entry(#{tranId, jdbcType=INTEGER},null,null,null,null))
	</select>

	<update id="saveAcsePaytReq" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			ACSE_PAYMENT_REQUEST_PKG.save_payt_req(
				#{paytReqNo,mode=OUT,jdbcType=VARCHAR},
				#{reqId,mode=INOUT, jdbcType=INTEGER},
				#{reqPrefix, jdbcType=VARCHAR},
				#{reqYear, jdbcType=VARCHAR},
				#{reqMm, jdbcType=INTEGER},
				#{reqSeqNo, jdbcType=VARCHAR},
				#{tranTypeCd, jdbcType=VARCHAR},
				CAST(to_timestamp(#{reqDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{reqStatus, jdbcType=VARCHAR},
				#{payeeClassCd, jdbcType=VARCHAR},
				#{payeeCd, jdbcType=VARCHAR},
				#{payee, jdbcType=VARCHAR},
				#{currCd, jdbcType=VARCHAR},
				#{currRate, jdbcType=VARCHAR},
				#{reqAmt, jdbcType=INTEGER},
				#{localAmt, jdbcType=INTEGER},
				#{particulars, jdbcType=VARCHAR},
				#{preparedBy, jdbcType=VARCHAR},
				CAST(to_timestamp(#{preparedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{requestedBy, jdbcType=VARCHAR},
				#{approvedBy, jdbcType=VARCHAR},
				CAST(to_timestamp(#{approvedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{createUser, jdbcType=VARCHAR},
				CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{updateUser, jdbcType=VARCHAR},
				CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
			);
		END;
	</update>
	
	<update id="saveJVEntry" parameterType="java.util.Map" statementType="CALLABLE">
		DECLARE
			v_tran_id	ACIT_TRANSACTIONS.TRAN_ID%TYPE;
		BEGIN
			ACSE_JOURNAL_VOUCHER_PKG.save_acse_jv( v_tran_id, #{tranId, jdbcType=VARCHAR}, 
													CAST(to_timestamp(#{tranDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													#{tranClass}, 
													#{tranYear, jdbcType=VARCHAR}, 
													#{tranClassNo, jdbcType=VARCHAR}, 
													#{tranStat}, 
													CAST(to_timestamp(#{closeDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													CAST(to_timestamp(#{deleteDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													CAST(to_timestamp(#{postDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													#{createUser}, 
													CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													#{updateUser}, 
													CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), 
													#{tranTypeCd, jdbcType=VARCHAR}, 
													#{tranIdJv, jdbcType=VARCHAR}, 
													#{jvYear, jdbcType=VARCHAR}, 
													#{jvNo, jdbcType=VARCHAR}, 
													CAST(to_timestamp(#{jvDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), 
													#{jvStatus}, 
													#{JvTranTypeCd}, 
													#{autoTag}, 
													#{refnoTranId, jdbcType=INTEGER}, 
													CAST(to_timestamp(#{refnoDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), 
													#{particulars}, 
													#{currCd}, 
													#{currRate}, 
													#{jvAmt}, 
													#{localAmt}, 
													#{allocTag, jdbcType=VARCHAR}, 
													#{allocTranId, jdbcType=VARCHAR}, 
													#{preparedBy}, 
													CAST(to_timestamp(#{preparedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), 
													#{approvedBy, jdbcType=VARCHAR}, 
													CAST(to_timestamp(#{approvedDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),  
													#{createUserJv}, 
													CAST(to_timestamp(#{createDateJv}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),  
													#{updateUserJv}, 
													CAST(to_timestamp(#{updateDateJv}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
												  );
				#{tranIdOut, mode=OUT, jdbcType=INTEGER} := v_tran_id;							  
		END;
	</update>
	
	<update id="approveJVService" parameterType="java.util.Map">
		BEGIN
			ACSE_JOURNAL_VOUCHER_PKG.approve_jv(
				#{tranId},
				#{approvedBy},
				CAST(to_timestamp(#{approvedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{updateUser},
				CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
				);
		END;
	</update>

	<update id="updateAcsePaytReqStat" parameterType="java.util.Map">
		BEGIN
			ACSE_PAYMENT_REQUEST_PKG.up_acse_paytreqstat(
				#{reqId, jdbcType=INTEGER},
				#{reqStatus, jdbcType=VARCHAR},
				#{updateUser, jdbcType=VARCHAR},
				#{approvedBy, jdbcType=VARCHAR},
				CAST(to_timestamp(#{approvedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
			);
		END;
	</update>
	
	<update id="cancelJVService" parameterType="java.util.Map">
		BEGIN
			ACSE_JOURNAL_VOUCHER_PKG.cancel_jv(
				#{tranId},
				#{updateUser},
				CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
			);
		END;
	</update>
	
	<resultMap type="ph.cpi.rest.api.model.accountingservice.AcseTaxDetails" id="taxDtlMap">
		<result property="tranId" 			column="TRAN_ID"/>
		<result property="taxType"      	column="TAX_TYPE"/>
		<result property="taxSeqno"     	column="TAX_SEQNO"/>
		<result property="genType"      	column="GEN_TYPE"/>
		<result property="taxCd"        	column="TAX_CD"/>
		<result property="genTaxDesc"   	column="GEN_TAX_DESC"/>
		<result property="whtTaxDesc"   	column="WHT_TAX_DESC"/>
		<result property="genBirRlf"   		column="GEN_BIR_RLF"/>
		<result property="genTaxRate"   	column="GEN_TAX_RATE"/>
		<result property="whtRate"     	    column="WHT_RATE"/>
		<result property="payor"        	column="PAYOR"/>
		<result property="baseAmt"      	column="BASE_AMT"/>
		<result property="taxAmt"       	column="TAX_AMT"/>
		<result property="createUser" 		column="CREATE_USER"/>
		<result property="createDate" 		column="CREATE_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 		column="UPDATE_USER"/>
		<result property="updateDate" 		column="UPDATE_DATE"  typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveTaxDetails" resultMap="taxDtlMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACSE_TAX_DETAILS_PKG.ret_tax_dtl(#{tranId},#{taxType},null,null,null,null))
	</select>
</mapper>