<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="ph.cpi.mybatis.mapper.AccountingInTrustMapper">

	<resultMap type="ph.cpi.rest.api.model.accountingintrust.AcknowledgementReceipt" id="orListMap">
		<result property="tranId"			column="TRAN_ID" />
		<result property="orType"			column="OR_TYPE" />
		<result property="orNo"				column="OR_NO" />
		<result property="formattedOrNo"	column="FORMATTED_OR_NO" />
		<result property="orDate"			column="OR_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="orStatus"		    column="OR_STATUS_CD" />
		<result property="tranStat"			column="TRAN_STAT_CD" />
		<result property="orStatDesc"		column="OR_STATUS" />
		<result property="tranStatDesc"		column="TRAN_STAT" />
		<result property="tranTypeName"		column="TRAN_TYPE_NAME" />
		<result property="payor"			column="PAYOR" />
		<result property="orAmt"			column="OR_AMT" />
		<result property="particulars"		column="PARTICULARS" />
		<result property="createUser"		column="CREATE_USER" />
		<result property="createDate"		column="CREATE_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser"		column="UPDATE_USER" />
		<result property="updateDate"		column="UPDATE_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<select id="retOrList" resultMap="orListMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(ACSE_OFFICIAL_RECEIPT_PKG.ret_or_list(
																#{orType, jdbcType=VARCHAR},
																#{orNo, jdbcType=VARCHAR},
																#{payor, jdbcType=VARCHAR},
																CAST(to_timestamp(#{orDateFrom,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
																CAST(to_timestamp(#{orDateTo,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
																#{tranTypeName, jdbcType=VARCHAR},
																#{orStatDesc, jdbcType=VARCHAR},
																#{particulars, jdbcType=VARCHAR},
																#{orAmtFrom, jdbcType=VARCHAR},
																#{orAmtTo, jdbcType=VARCHAR}
															   )
						   )
	</select>
	
</mapper>