<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="ph.cpi.mybatis.mapper.ClaimsMapper">
	<resultMap type="ph.cpi.rest.api.model.claims.Claims" id="claimsMap">
		<result property="claimId" 			column="CLAIM_ID"/>
		<result property="claimNo" 			column="CLAIM_NO"/>
		<result property="lineCd" 			column="LINE_CD"/>
		<result property="polYear" 			column="POL_YEAR"/>
		<result property="polSeqNo" 		column="POL_SEQ_NO"/>
		<result property="cedingId" 		column="CEDING_ID"/>
		<result property="coSeriesNo" 		column="CO_SERIES_NO"/>
		<result property="altNo" 			column="ALT_NO"/>
		<result property="policyNo" 		column="POLICY_NO"/>
		<result property="cedingName" 		column="CEDING_NAME"/>
		<result property="prinId" 			column="PRIN_ID"/>
		<result property="principalName" 	column="PRINCIPAL_NAME"/>
		<result property="contractorId" 	column="CONTRACTOR_ID"/>
		<result property="contractorName" 	column="CONTRACTOR_NAME"/>
		<result property="clmYear" 			column="CLM_YEAR"/>
		<result property="clmSeqNo" 		column="CLM_SEQ_NO"/>
		<result property="clmStatCd" 		column="CLM_STAT_CD"/>
		<result property="clmStatus" 		column="CLM_STATUS"/>
		<result property="cessionId" 		column="CESSION_ID"/>
		<result property="cessionDesc" 		column="CESSION_DESC"/>
		<result property="lineClassCd" 		column="LINE_CLASS_CD"/>
		<result property="lineClassDesc" 	column="LINE_CLASS_DESC"/>
		<result property="coRefNo" 			column="CO_REF_NO"/>
		<result property="inceptDate" 		column="INCEPT_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="expiryDate" 		column="EXPIRY_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="coClaimNo" 		column="CO_CLM_NO"/>
		<result property="lossDate" 		column="LOSS_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="lossCd" 			column="LOSS_CD"/>
		<result property="lossDesc" 		column="LOSS_DESC"/>
		<result property="lossPeriod" 		column="LOSS_PERIOD"/>
		<result property="lossDtl" 			column="LOSS_DTL"/>
		<result property="eventTypeCd" 		column="EVENT_TYPE_CD"/>
		<result property="eventTypeDesc" 	column="EVENT_TYPE_DESC"/>
		<result property="eventCd" 			column="EVENT_CD"/>
		<result property="eventDesc" 		column="EVENT_DESC"/>
		<result property="insuredDesc" 		column="INSURED_DESC"/>
		<result property="reportDate" 		column="REPORT_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="reportedBy" 		column="REPORTED_BY"/>
		<result property="processedBy" 		column="PROCESSED_BY"/>
		<result property="oldStatCd" 		column="OLD_STAT_CD"/>
		<result property="oldClmStatus" 	column="OLD_CLM_STATUS"/>
		<result property="closeDate" 		column="CLOSE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="refreshSw" 		column="REFRESH_SW"/>
		<result property="lapseFrom" 		column="LAPSE_FROM" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="lapseTo" 			column="LAPSE_TO" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="maintenanceFrom" 	column="MAINTENANCE_FROM" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="maintenanceTo" 	column="MAINTENANCE_TO" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="createUser" 		column="CREATE_USER"/>
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 		column="UPDATE_USER"/>
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		
		<association property="project" resultMap="clmProjectAssoc" />
		<association property="clmAdjusterList" resultMap="clmAdjusterListAssoc" />
		<association property="clmAttachments" resultMap="assocAttachmentMap"></association>
		
	</resultMap>

	<resultMap type="ph.cpi.rest.api.model.claims.ClaimHistory" id="claimHistoryMap">
		<result property="claimId"		column="HIST_CLAIM_ID"/>
		<result property="projId"		column="HIST_PROJ_ID"/>
		<result property="histNo"		column="HIST_HIST_NO"/>
		<result property="histCategory"	column="HIST_CATEGORY"/>
		<result property="histType"		column="HIST_TYPE"/>
		<result property="exGratia"		column="EX_GRATIA"/>
		<result property="currencyCd"	column="CURRENCY_CD"/>
		<result property="currencyRt"	column="CURRENCY_RT"/>
		<result property="reserveAmt"	column="RESERVE_AMT"/>
		<result property="paytAmt"		column="PAYT_AMT"/>
		<result property="refNo"		column="REF_NO"/>
		<result property="refDate"		column="REF_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="remarks"		column="HIST_REMARKS"/>
		<result property="createUser"	column="HIST_CREATE_USER"/>
		<result property="createDate"	column="HIST_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"	column="HIST_UPDATE_USER"/>
		<result property="updateDate"	column="HIST_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveClaimHistory" resultMap="claimHistoryMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(CLM_RES_HIST_PKG.ret_clm_res_hist(
					#{claimId,jdbcType=INTEGER},
					#{claimNo,jdbcType=VARCHAR},
					'', '', '',''))
	</select>
	
	<update id="saveClaimHistory" parameterType="java.util.Map">
		BEGIN
    		<foreach collection="saveClaimHistory" item="ch">
    			CLM_RES_HIST_PKG.save_clm_res_hist(
    				#{ch.claimId,jdbcType=VARCHAR},
					#{ch.projId,jdbcType=VARCHAR},
					#{ch.histNo,jdbcType=VARCHAR},
					#{ch.histCategory,jdbcType=VARCHAR},
					#{ch.histType,jdbcType=VARCHAR},
					#{ch.exGratia,jdbcType=VARCHAR},
					#{ch.currencyCd,jdbcType=VARCHAR},
					#{ch.currencyRt,jdbcType=VARCHAR},
					#{ch.reserveAmt,jdbcType=INTEGER},
					#{ch.paytAmt,jdbcType=INTEGER},
					#{ch.refNo,jdbcType=VARCHAR},
					CAST(to_timestamp(#{ch.refDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
					#{ch.remarks,jdbcType=VARCHAR},
					#{ch.createUser,jdbcType=VARCHAR},
				    CAST(to_timestamp(#{ch.createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				    #{ch.updateUser,jdbcType=VARCHAR},
				    CAST(to_timestamp(#{ch.updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
    			);
    		</foreach>
    	END;
	</update>
	
	<resultMap type="ph.cpi.rest.api.model.claims.Claims" id="claimsListingMap">
		<result property="claimId"     		column="CLAIM_ID" />
		<result property="claimNo"     		column="CLAIM_NO" />
		<result property="cedingId"     	column="CEDING_ID" />
		<result property="cedingName"     	column="CEDING_NAME" />
		<result property="clmStatCd"     	column="CLM_STAT_CD" />
		<result property="clmStatus"     	column="CLM_STATUS" />
		<result property="policyNo"     	column="POLICY_NO" />
		<result property="insuredDesc"     	column="INSURED_DESC" />
		<result property="riskId"     		column="RISK_ID" />
		<result property="riskName"     	column="RISK_NAME" />
		<result property="lossDate"     	column="LOSS_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="lossDtl"     		column="LOSS_DTL" />
		<result property="currencyCd"     	column="CURRENCY_CD" />
		<result property="totalLossExpRes"  column="T_LOSS_EXP_RES" />
		<result property="totalLossExpPd"   column="T_LOSS_EXP_PD" />
		<result property="processedBy"     	column="PROCESSED_BY" />
		<result property="createUser"     	column="CREATE_USER" />
		<result property="createDate"     	column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser"     	column="UPDATE_USER" />
		<result property="updateDate"     	column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<association property="clmAdjusterList" resultMap="clmAdjusterListAssoc" />
		<association property="clmProject" resultMap="claimProjectMap"></association>
		<association property="clmDeductibles" resultMap="claimDeductiblesMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.claims.Project" id="clmProjectAssoc">
		<result property="projId" 			column="PROJ_ID"/>
		<result property="projDesc" 		column="PROJ_DESC"/>
		<result property="riskId" 			column="RISK_ID"/>
		<result property="riskName" 		column="RISK_NAME"/>
		<result property="regionCd" 		column="REGION_CD"/>
		<result property="regionDesc" 		column="REGION_DESC"/>
		<result property="provinceCd" 		column="PROVINCE_CD"/>
		<result property="provinceDesc" 	column="PROVINCE_DESC"/>
		<result property="cityCd" 			column="CITY_CD"/>
		<result property="cityDesc" 		column="CITY_DESC"/>
		<result property="districtCd" 		column="DISTRICT_CD"/>
		<result property="districtDesc" 	column="DISTRICT_DESC"/>
		<result property="blockCd" 			column="BLOCK_CD"/>
		<result property="blockDesc" 		column="BLOCK_DESC"/>
		<result property="latitude" 		column="LATITUDE"/>
		<result property="longitude" 		column="LONGITUDE"/>
		<result property="objectId" 		column="OBJECT_ID"/>
		<result property="objectDesc" 		column="OBJECT_DESC"/>
		<result property="site" 			column="SITE"/>
		<result property="duration" 		column="DURATION"/>
		<result property="testing" 			column="TESTING"/>
		<result property="ipl" 				column="IPL"/>
		<result property="timeExc" 			column="TIME_EXC"/>
		<result property="noClaimPd" 		column="NO_CLAIM_PD"/>
		<result property="createUser" 		column="PRJ_CREATE_USER"/>
		<result property="createDate" 		column="PRJ_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 		column="PRJ_UPDATE_USER"/>
		<result property="updateDate" 		column="PRJ_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property="clmReserve" resultMap="claimReserveMap" />
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.claims.ClaimReserve" id="claimReserveMap">
		<result property="claimId" 			column="RES_CLAIM_ID"/>
		<result property="projId" 			column="RES_PROJ_ID"/>
		<result property="lossResAmt" 		column="LOSS_RES_AMT"/>
		<result property="lossPdAmt" 		column="LOSS_PD_AMT"/>
		<result property="lossStatCd" 		column="LOSS_STAT_CD"/>
		<result property="expResAmt" 		column="EXP_RES_AMT"/>
		<result property="expPdAmt" 		column="EXP_PD_AMT"/>
		<result property="expStatCd" 		column="EXP_STAT_CD"/>
		<result property="createUser" 		column="RES_CREATE_USER"/>
		<result property="createDate" 		column="RES_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 		column="RES_UPDATE_USER"/>
		<result property="updateDate" 		column="RES_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property="clmHistory"  resultMap="claimHistoryMap" />
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.claims.Claims" id="claimsForReserveMap">
		<result property="claimId" 			column="GEN_CLAIM_ID"/>
		<result property="claimNo" 			column="CLAIM_NO"/>
		<association property="project" resultMap="projForReserveMap" /> 
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.claims.Project" id="projForReserveMap">
		<result property="claimId" 			column="PROJ_CLAIM_ID"/>
		<result property="projId" 			column="PROJ_PROJ_ID"/>
		<association property="clmReserve" resultMap="claimReserveMap" />
	</resultMap>
	
	<select id="retrieveClaimReserve" resultMap="claimsForReserveMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(CLM_RESERVE_PKG.ret_clm_reserve(
				#{claimId,jdbcType=INTEGER},
				#{claimNo,jdbcType=VARCHAR},'','','',''))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.claims.ClaimAdjuster" id="clmAdjusterListAssoc">
		<result property="claimId"			column="CLAIM_ID" />
		<result property="adjId"     		column="ADJ_ID" />
		<result property="adjName"     		column="ADJ_NAME" />
		<result property="adjRefNo"     	column="ADJ_REF_NO" />
		<result property="createUser"     	column="ADJ_CREATE_USER" />
		<result property="createDate"     	column="ADJ_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser"     	column="ADJ_UPDATE_USER" />
		<result property="updateDate"     	column="ADJ_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
	</resultMap>
	
	<select id="retrieveClaimListing" resultMap="claimsListingMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(CLM_GEN_INFO_PKG.ret_clm_list(
														#{claimNo,jdbcType=VARCHAR},
														#{cedingName,jdbcType=VARCHAR},
														#{clmStatus,jdbcType=VARCHAR},
														#{policyNo,jdbcType=VARCHAR},
														#{insuredDesc,jdbcType=VARCHAR},
														#{riskName,jdbcType=VARCHAR},
														CAST(to_timestamp(#{lossDateFrom,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
														CAST(to_timestamp(#{lossDateTo,jdbcType=DATE}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
														#{currencyCd,jdbcType=VARCHAR},
														#{processedBy,jdbcType=VARCHAR}, 
														'', '', '','')
						 )
		
	</select>
	
	<select id="retrieveClmGenInfo" resultMap="claimsMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(CLM_GEN_INFO_PKG.ret_clm_gen_info(#{claimId, jdbcType=INTEGER},
															  #{claimNo, jdbcType=VARCHAR},
															  '', '', '',''))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.claims.ClaimDeductibles" id="claimDeductiblesMap">
		<result property="claimId" column="DEDT_CLAIM_ID"/>
		<result property="coverCd" column="DEDT_COVER_CD"/>
		<result property="endtCd" column="ENDT_CD"/>
		<result property="deductibleLevel" column="DEDUCTIBLE_LEVEL"/>
		<result property="deductibleCd" column="DEDUCTIBLE_CD"/>
		<result property="deductibleTitle" column="DEDUCTIBLE_TITLE"/>
		<result property="deductibleRt" column="DEDUCTIBLE_RT"/>
		<result property="deductibleAmt" column="DEDUCTIBLE_AMT"/>
		<result property="deductibleTxt" column="DEDUCTIBLE_TXT"/>
		<result property="createUser" column="DEDT_CREATE_USER"/>
		<result property="createDate" column="DEDT_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" column="DEDT_UPDATE_USER"/>
		<result property="updateDate" column="DEDT_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.claims.ClaimProject" id="claimProjectMap">
		<result property="claimId" 		column="CLAIM_ID"/>
		<result property="projId" 		column="PROJ_ID"/>
		<result property="projDesc" 	column="PROJ_DESC"/>
		<result property="riskId" 		column="RISK_ID"/>
		<result property="riskName"     column="RISK_NAME"/>
		<result property="regionCd" 	column="REGION_CD "/>
		<result property="provinceCd" 	column="PROVINCE_CD "/>
		<result property="cityCd" 		column="CITY_CD "/>
		<result property="districtCd" 	column="DISTRICT_CD"/>
		<result property="blockCd" 		column="BLOCK_CD "/>
		<result property="latitude" 	column="LATITUDE"/>
		<result property="longitude" 	column="LONGITUDE"/>
		<result property="objectId" 	column="OBJECT_ID"/>
		<result property="site" 		column="SITE"/>
		<result property="duration" 	column="DURATION"/>
		<result property="testing" 		column="TESTING"/>
		<result property="ipl" 			column="IPL"/>
		<result property="timeExc" 		column="TIME_EXC"/>
		<result property="noClaimPd" 	column="NO_CLAIM_PD"/>
		<result property="createUser" 	column="CREATE_USER"/>
		<result property="createDate" 	column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<result property="updateUser" 	column="UPDATE_USER"/>
		<result property="updateDate" 	column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" />
		<association property="clmCoverage" resultMap="claimCoverageMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.claims.ClaimCoverage" id="claimCoverageMap">
		<result property="claimId" 				column="CLAIM_ID"/>
		<result property="claimNo"				column="CLAIM_NO"/>
		<result property="projId" 				column="PROJ_ID"/>
		<result property="riskId" 				column="RISK_ID"/>
		<result property="sectionISi" 			column="SECTION_I_SI"/>
		<result property="sectionIISi" 			column="SECTION_II_SI"/>
		<result property="sectionIIISi" 		column="SECTION_III_SI"/>
		<result property="totalSi" 				column="TOTAL_SI"/>
		<result property="secISiTag" 			column="SECI_SI_TAG"/>
		<result property="secIISiTag" 			column="SECII_SI_TAG"/>
		<result property="secIIISiTag" 			column="SECIII_SI_TAG"/>
		<result property="allowMaxSi" 			column="ALLOW_MAX_SI"/>
		<result property="sectionIPrem" 		column="SECTION_I_PREM"/>
		<result property="sectionIIPrem" 		column="SECTION_II_PREM"/>
		<result property="sectionIIIPrem" 		column="SECTION_III_PREM"/>
		<result property="totalPrem" 			column="TOTAL_PREM"/>
		<result property="currencyCd" 			column="CURRENCY_CD"/>
		<result property="currencyRt" 			column="CURRENCY_RT"/>
		<result property="pctShare" 			column="PCT_SHARE"/>
		<result property="pctPml" 				column="PCT_PML"/>
		<result property="totalValue" 			column="TOTAL_VALUE"/>
		<result property="createUser" 			column="CREATE_USER"/>
		<result property="createDate" 			column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 			column="UPDATE_USER"/>
		<result property="updateDate" 			column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property="clmClaimSecCover" resultMap="claimSecCoverMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.claims.ClaimSecCover" id="claimSecCoverMap">
		<result property="claimId" 			column="SEC_CLAIM_ID"/>
		<result property="lineCd" 			column="LINE_CD"/>
		<result property="projId" 			column="SEC_PROJ_ID"/>
		<result property="riskId" 			column="SEC_RISK_ID"/>
		<result property="section" 			column="SECTION"/>
		<result property="coverCd" 			column="COVER_CD"/>
		<result property="coverName" 		column="COVER_NAME"/>
		<result property="bulletNo" 		column="BULLET_NO"/>
		<result property="sumInsured" 		column="SUM_INSURED"/>
		<result property="premRt" 			column="PREM_RT"/>
		<result property="premAmt" 			column="PREM_AMT"/>
		<result property="addSi" 			column="ADD_SI"/>
		<result property="discountTag" 		column="DISCOUNT_TAG"/>
		<result property="createUser" 		column="SEC_CREATE_USER"/>
		<result property="createDate" 		column="SEC_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 		column="SEC_UPDATE_USER"/>
		<result property="updateDate" 		column="SEC_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property="claimDeductible" resultMap="claimDeductiblesMap"></association>
	</resultMap>
	
	<select id="retrieveClaimSecCover" resultMap="claimsListingMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(CLM_COVERAGE_PKG.ret_clm_cover(null,null,null,null,null,null))
	</select>
	
	<update id="saveClaimSecCover" parameterType="java.util.Map">
		BEGIN
			CLM_COVERAGE_PKG.save_clm_sec_cov( #{claimId}, #{projId}, #{riskId}, #{sectionISi}, 
												#{sectionIISi}, #{sectionIIISi}, #{totalSi}, #{secISiTag}, 
												#{secIISiTag}, #{secIIISiTag}, #{allowMaxSi}, #{sectionIPrem}, 
												#{sectionIIPrem}, #{sectionIIIPrem}, #{totalPrem}, 
												#{currencyCd}, #{currencyRt}, #{pctShare}, #{pctPml}, 
												#{totalValue}, #{createUser}, 
												CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												#{updateUser}, 
												CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE));
			
		END;
	</update>
	
	<resultMap type="ph.cpi.rest.api.model.claims.Claims" id="claimsAttachmentMap">
	    <result property="claimId" 		column="POLICY_ID"/> 
		<result property="claimNo" 		column="POLICY_NO"/> 
		<association property="clmAttachments" resultMap="assocAttachmentMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.claims.Attachment" id="assocAttachmentMap">
		<result property="fileNo" 			column="FILE_NO"/> 
		<result property="fileName" 		column="FILE_NAME"/> 
		<result property="description" 		column="DESCRIPTION"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveClaimsAttachment" resultMap="assocAttachmentMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(CLM_ATTACHMENT_PKG.ret_clm_attchmnt(#{claimId, jdbcType=INTEGER},
																	#{claimNo, jdbcType=VARCHAR},
																	#{position, jdbcType=VARCHAR}, 
																	#{count, jdbcType=VARCHAR}, 
																	#{sortKey, jdbcType=VARCHAR}, 
																	#{order, jdbcType=VARCHAR}))
	</select>
	
	<update id="saveClaimsAttachment" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
		   <foreach collection="saveClmAttachments" item="attachment">
		   	   CLM_ATTACHMENT_PKG.save_clm_attchmnt(#{uploadDate, mode=OUT, jdbcType=VARCHAR},
		   	   										#{claimId},
		   	   										#{attachment.fileNo, jdbcType=VARCHAR},
		   	   										#{attachment.fileName},
		   	   										#{attachment.description, jdbcType=VARCHAR},
		   	   										#{attachment.createUser},
			   										CAST(to_timestamp(#{attachment.createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
			   										#{attachment.updateUser},
			   										CAST(to_timestamp(#{attachment.updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE));
		   </foreach>
		   <foreach collection="deleteClmAttachments" item="attachment">
		   		CLM_ATTACHMENT_PKG.del_clm_attchmnt(#{claimId},
		   											#{attachment.fileNo, jdbcType=VARCHAR});
		   </foreach>
		END;
	</update>
	
	<resultMap type="ph.cpi.rest.api.model.claims.ClaimApprovedAmt" id="claimApprovedAmtMap">
		<result property="claimId"		column="CLAIM_ID"/>
		<result property="histNo"		column="HIST_NO"/>
		<result property="approvedAmt"	column="APPROVED_AMT"/>
		<result property="approvedBy"	column="APPROVED_BY"/>
		<result property="approvedDate"	column="APPROVED_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="remarks"		column="REMARKS"/>
		<result property="activeTag"	column="ACTIVE_TAG"/>
		<result property="createUser"	column="CREATE_USER"/>
		<result property="createDate"	column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"	column="UPDATE_USER"/>
		<result property="updateDate"	column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveClaimApprovedAmt" resultMap="claimApprovedAmtMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(CLM_APPROVAL_HIST_PKG.ret_approval_hist(
					#{claimId,jdbcType=INTEGER},
					#{histNo,jdbcType=INTEGER}, 
					'', '', '',''))
	</select>
	
	<update id="saveClaimApprovedAmt" parameterType="java.util.Map">
		BEGIN
    		<foreach collection="saveClaimApprovedAmt" item="scaa">
    			CLM_APPROVAL_HIST_PKG.save_approval_hist(
    				#{scaa.claimId, jdbcType=VARCHAR},
					#{scaa.histNo, jdbcType=VARCHAR},
					#{scaa.approvedAmt, jdbcType=VARCHAR},
					#{scaa.approvedBy, jdbcType=VARCHAR},
					CAST(to_timestamp(#{scaa.approvedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
					#{scaa.remarks, jdbcType=VARCHAR},
					#{scaa.activeTag, jdbcType=VARCHAR},
					#{scaa.createUser,jdbcType=VARCHAR},
				    CAST(to_timestamp(#{scaa.createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				    #{scaa.updateUser,jdbcType=VARCHAR},
				    CAST(to_timestamp(#{scaa.updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
    			);
    		</foreach>
    	END;
	</update>
		
</mapper>