<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ph.cpi.mybatis.mapper.MaintenanceMapper">
	
	<resultMap type="java.util.Map" id="sampleMap">
		<result property="insuredName" column="insured_name"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.AlopSample" id="alopMap">
	    <result property="alopId" 			column="ALOP_ID"/> 
		<result property="insuredId" 		column="INS_ID"/> 
		<result property="insuredName" 		column="INSURED_NAME"/> 
		<result property="insuredDesc" 		column="INSURED_DESC"/> 
		<result property="address" 			column="ADDRESS"/> 
		<result property="insuredBusiness" 	column="INS_BUSINESS"/> 
		<result property="annSi" 			column="ANN_SI"/> 
		<result property="maxIndemPdSi" 	column="MAX_INDEM_PD_SI"/> 
		<result property="issueDate" 		column="ISSUE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="expiryDate" 		column="EXPIRY_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="maxIndemPd" 		column="MAX_INDEM_PD"/> 
		<result property="indemFromDate" 	column="INDEM_FROM_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="timeExc" 			column="TIME_EXC"/> 
		<result property="repInterval" 		column="REP_INTERVAL"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Risk" id="retrieveMtnRiskMap">
		<result property="riskId"			column="RISK_ID"/>
		<result property="riskAbbr"			column="RISK_ABBR"/>
		<result property="riskName"			column="RISK_NAME"/>
		<result property="regionCd"			column="REGION_CD"/>	
		<result property="regionDesc"		column="REGION_DESC"/>
		<result property="provinceCd"		column="PROVINCE_CD"/>	
		<result property="provinceDesc"		column="PROVINCE_DESC"/>
		<result property="cityCd"			column="CITY_CD"/>
		<result property="cityDesc"			column="CITY_DESC"/>
		<result property="districtCd"		column="DISTRICT_CD"/>	
		<result property="districtDesc"		column="DISTRICT_DESC"/>
		<result property="blockCd"			column="BLOCK_CD"/>
		<result property="blockDesc"		column="BLOCK_DESC"/>
		<result property="latitude"			column="LATITUDE"/>
		<result property="longitude"		column="LONGITUDE"/>
		<result property="zoneCd"			column="ZONE_CD"/>
		<result property="zoneDesc"			column="ZONE_DESC"/>
		<result property="activeTag"		column="ACTIVE_TAG"/>
		<result property="remarks"			column="REMARKS"/>
		<result property="createUser"		column="CREATE_USER"/>
		<result property="createDate"		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="updateUser"		column="UPDATE_USER"/>
		<result property="updateDate"		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.SectionCovers" id="retrieveMtnSectionCoversMap">
		<result property="lineCd" 			column="LINE_CD"/>
		<result property="lineDesc" 		column="LINE_DESCRIPTION"/>
		<result property="coverCd" 			column="COVER_CD"/>
		<result property="coverCdAbbr" 		column="COVER_CD_ABBR"/>
		<result property="description" 		column="COVERS_DESCRIPTION"/>
		<result property="activeTag" 		column="ACTIVE_TAG"/>
		<result property="section" 			column="SECTION"/>
		<result property="sortSeq" 			column="SORT_SEQ"/>
		<result property="defaultTag" 		column="DEFAULT_TAG"/>
		<result property="bulletNo" 		column="BULLET_NO"/>
		<result property="addSi" 			column="ADD_SI"/>
		<result property="remarks" 			column="REMARKS"/>
		<result property="createUser" 		column="CREATE_USER"/>
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 		column="UPDATE_USER"/>
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Cession" id="retrieveTypeOfCessionMap">
		<result property="cessionId" 		column="CESSION_ID"/>
		<result property="cessionAbbr" 		column="CESSION_ABBR"/>
		<result property="description" 		column="DESCRIPTION"/>
		<result property="activeTag" 		column="ACTIVE_TAG"/>
		<result property="remarks" 			column="REMARKS"/>
		<result property="createUser" 		column="CREATE_USER"/>
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 		column="UPDATE_USER"/>
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
		
	<resultMap type="ph.cpi.rest.api.model.maintenance.Region" id="regionMap">
		<result property = "regionCd"       column  =  "REGION_CD"/>
		<result property = "regionDesc"     column  =  "REGION_DESC"/>
		<result property = "activeTag"     	column  =  "ACTIVE_TAG"/> 
		<result property = "remarks"        column  =  "REMARKS"/>
		<result property = "createUser"     column  =  "CREATE_USER"/>
		<result property = "createDate"     column  =  "CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "updateUser"     column  =  "UPDATE_USER"/>
		<result property = "updateDate"     column  =  "UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<association property="provinceList"	resultMap="provinceMap"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Province" id="provinceMap">
		<result property = "provinceCd"        column   ="PROVINCE_CD"/>
		<result property = "provinceDesc"      column   ="PROVINCE_DESC"/>
		<result property = "activeTag"         column   ="ACTIVE_TAG"/>
		<result property = "remarks"           column   ="REMARKS"/>
		<result property = "createUser"        column   ="CREATE_USER"/>
		<result property = "createDate"        column   ="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "updateUser"        column   ="UPDATE_USER"/>
		<result property = "updateDate"        column   ="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<association property="cityList"	   resultMap="cityMap"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Region" id="regionForProvinceMap">
		<result property = "regionCd"       column  =  "REGION_CD"/>
		<result property = "regionDesc"     column  =  "REGION_DESC"/>
		<association property="provinceList"	resultMap="provinceMap"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Object_" id="objectMap">
		<result property = "lineCd"         column  =   "LINE_CD"/>
		<result property = "lineDesc"       column  =   "LINE_DESC"/>
		<result property = "objectId"       column  =   "OBJECT_ID"/>
		<result property = "description"    column  =   "OBJECT_DESC"/>
		<result property = "activeTag"      column  =   "ACTIVE_TAG"/>
		<result property = "remarks"        column  =   "REMARKS"/>
		<result property = "createUser"     column  =   "CREATE_USER"/>
		<result property = "createDate"     column  =   "CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "updateUser"     column  =   "UPDATE_USER"/>
		<result property = "updateDate"     column  =   "UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.QuoteWordings" id="quoteWordingsMap">
		 <result property   ="lineCd"      column  =   "LINE_CD"/>   
		 <result property   ="lineDesc"    column  =   "DESCRIPTION"/> 
		 <result property   ="wordingId"   column  =   "WORDING_ID"/>    
		 <result property   ="wording"     column  =   "WORDING"/>  
		 <result property   ="type"        column  =   "TYPE"/> 
		 <result property   ="activeTag"   column  =   "ACTIVE_TAG"/>    
		 <result property   ="defaultTag"  column  =   "DEFAULT_TAG"/>   
		 <result property   ="remarks"     column  =   "REMARKS"/>  
		 <result property   ="createUser"  column  =   "CREATE_USER"/>   
		 <result property   ="createDate"  column  =   "CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>   
		 <result property   ="updateUser"  column  =   "UPDATE_USER"/>   
		 <result property   ="updateDate"  column  =   "UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>  
	</resultMap>

	<resultMap type="ph.cpi.rest.api.model.maintenance.Intermediary" id="mntIntMap">
		 <result property="intmId" 			column="INTM_ID"/> 
		<result property="intmName" 		column="INTM_NAME"/> 
		<result property="firstName" 		column="FIRST_NAME"/> 
		<result property="middleInitial" 	column="MIDDLE_INITIAL"/> 
		<result property="lastName" 		column="LAST_NAME"/> 
		<result property="addrLine1" 		column="ADDR_LINE1"/> 
		<result property="addrLine2" 		column="ADDR_LINE2"/> 
		<result property="addrLine3" 		column="ADDR_LINE3"/> 
		<result property="zipCd" 			column="ZIP_CD"/> 
		<result property="address" 			column="ADDRESS"/> 
		<result property="contactNo" 		column="CONTACT_NO"/> 
		<result property="emailAdd" 		column="EMAIL_ADD"/> 
		<result property="activeTag" 		column="ACTIVE_TAG"/> 
		<result property="corpTag" 			column="CORP_TAG"/>
		<result property="vatTag" 			column="VAT_TAG"/> 
		<result property="oldIntmId" 		column="OLD_INTM_ID"/> 
		<result property="remarks" 			column="REMARKS"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Line" id="mntLineMap">
		<result property="lineCd" 			column="LINE_CD"/> 
		<result property="description" 		column="DESCRIPTION"/> 
		<result property="activeTag" 		column="ACTIVE_TAG"/> 
		<result property="catTag" 			column="CAT_TAG"/> 
		<result property="renewalTag" 		column="RENEWAL_TAG"/> 
		<result property="openCoverTag" 	column="OPEN_COVER_TAG"/> 
		<result property="sortSeq" 			column="SORT_SEQ"/> 
		<result property="remarks" 			column="REMARKS"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.LineClass" id="mntLineClassMap">
		<result property="lineCd" 			column="LINE_CD"/> 
		<result property="lineCdDesc" 		column="DESCRIPTION"/> 
		<result property="lineClassCd" 		column="LINE_CLASS_CD"/> 
		<result property="lineClassCdDesc" 	column="DESCRIPTION"/> 
		<result property="cutOffTime" 		column="CUT_OFF_TIME"/> 
		<result property="activeTag" 		column="ACTIVE_TAG"/> 
		<result property="remarks" 			column="REMARKS"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveMntIntermediary" resultMap="mntIntMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_INTM_PKG.ret_mtn_intm(#{intmId , jdbcType=VARCHAR }, '', '', '', ''))
	</select>
	
	<select id="retrieveMntLine" resultMap="mntLineMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_LINE_PKG.ret_mtn_line(#{lineCd,jdbcType=VARCHAR}, '', '', '',''))
	</select>
	
	<select id="retrieveMntLineClass" resultMap="mntLineClassMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_LINE_CLASS_PKG.ret_mtn_line_class(#{lineCd},#{lineClassCd, jdbcType=VARCHAR},'', '', '',''))
	</select>
	
	<select id="retrieveMaintenanceSample" resultMap="alopMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(ETS_QUOTE_PKG.retrieve_quote_alop(#{quoteId},#{quotationNo}))
	</select>
	
	<select id="retrieveMtnRisk" resultMap="retrieveMtnRiskMap" parameterType="java.util.Map">
		<!-- SELECT * FROM ETS_MAINTENANCE_PKG_MBM.retrieve_mtn_risk(#{riskId},#{position},#{count},#{sortKey},#{order}) -->
		SELECT * FROM TABLE(MTN_RISK_PKG.ret_mtn_risk(#{riskId, jdbcType=INTEGER},
													  null,
													  null,
													  null,
													  null))
	</select>
	
	<select id="retrieveMtnRiskListing" resultMap="retrieveMtnRiskMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(MTN_RISK_PKG.ret_mtn_risk_listing(#{riskId, jdbcType=INTEGER},
															  #{riskAbbr, jdbcType=VARCHAR},
															  #{riskName, jdbcType=VARCHAR},
															  #{regionDesc, jdbcType=VARCHAR},
															  #{provinceDesc, jdbcType=VARCHAR},
															  #{cityDesc, jdbcType=VARCHAR},
															  #{districtDesc, jdbcType=VARCHAR},
															  #{blockDesc, jdbcType=VARCHAR},
															  #{latitude, jdbcType=VARCHAR},
															  #{longitude, jdbcType=VARCHAR},
															  #{activeTag, jdbcType=VARCHAR},
															  null,
															  null,
															  null,
															  null
															  ))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Insured" id="insuredMap">
		<result property="insuredId" 	column="INSURED_ID"/>
		<result property="insuredName" 	column="INSURED_NAME"/>
		<result property="insuredAbbr" 	column="INSURED_ABBR"/>
		<result property="firstName" 	column="FIRST_NAME"/>
		<result property="middleInitial" 	column="MIDDLE_INITIAL"/>
		<result property="lastName" 	column="LAST_NAME"/>
		<result property="addrLine1" 	column="ADDR_LINE1"/>
		<result property="addrLine2" 	column="ADDR_LINE2"/>
		<result property="addrLine3" 	column="ADDR_LINE3"/>
		<result property="zipCd" 	column="ZIP_CD"/>
		<result property="address" 	column="ADDRESS"/>
		<result property="contactNo" 	column="CONTACT_NO"/>
		<result property="emailAdd" 	column="EMAIL_ADD"/>
		<result property="activeTag" 	column="ACTIVE_TAG"/>
		<result property="corpTag" 	column="CORP_TAG"/>
		<result property="vatTag" 	column="VAT_TAG"/>
		<result property="oldInsId" 	column="OLD_INS_ID"/>
		<result property="createUser" 	column="CREATE_USER"/>
		<result property="createDate" 	column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/> 
		<result property="updateUser" 	column="UPDATE_USER"/>
		<result property="updateDate" 	column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/> 
	</resultMap>
	
	<select id="retrieveMtnInsured" resultMap="insuredMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_INSURED_PKG.ret_mtn_insured(#{insuredId, jdbcType=VARCHAR},'',1,'',''))
	</select>
	
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.EndtCode" id="endtCode">
		<result property="lineCd" column="LINE_CD"/>
		<result property="lineDesc" column="LINE_DESCRIPTION"/>
		<result property="endtCd" column="ENDT_CD"/>
		<result property="endtTitle" column="ENDT_TITLE"/>
		<result property="description" column="ENDT_DESCRIPTION"/>
		<result property="defaultTag" column="DEFAULT_TAG"/>
		<result property="activeTag" column="ACTIVE_TAG"/>
		<result property="endtText01" column="ENDT_TEXT01"/>
		<result property="endtText02" column="ENDT_TEXT02"/>
		<result property="endtText03" column="ENDT_TEXT03"/>
		<result property="endtText04" column="ENDT_TEXT04"/>
		<result property="endtText05" column="ENDT_TEXT05"/>
		<result property="endtText06" column="ENDT_TEXT06"/>
		<result property="endtText07" column="ENDT_TEXT07"/>
		<result property="endtText08" column="ENDT_TEXT08"/>
		<result property="endtText09" column="ENDT_TEXT09"/>
		<result property="endtText10" column="ENDT_TEXT10"/>
		<result property="endtText11" column="ENDT_TEXT11"/>
		<result property="endtText12" column="ENDT_TEXT12"/>
		<result property="endtText13" column="ENDT_TEXT13"/>
		<result property="endtText14" column="ENDT_TEXT14"/>
		<result property="endtText15" column="ENDT_TEXT15"/>
		<result property="endtText16" column="ENDT_TEXT16"/>
		<result property="endtText17" column="ENDT_TEXT17"/>
		<result property="remarks" 	column="REMARKS"/>
		<result property="createUser" column="CREATE_USER"/>
		<result property="createDate" column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="updateUser" column="UPDATE_USER"/>
		<result property="updateDate" column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<select id="retrieveEndtCode" resultMap="endtCode" parameterType="java.util.Map">
		SELECT * FROM TABLE(MTN_ENDT_PKG.ret_endt_code(#{lineCd, jdbcType=VARCHAR},#{endtCd , jdbcType=VARCHAR},'',1,'',''))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.District" id="district">
		<result property="districtCd" column="DISTRICT_CD" />
		<result property="districtDesc" column="DISTRICT_DESC" />
		<result property="activeTag" column="ACTIVE_TAG" />
		<result property="remarks" column="REMARKS" />
		<result property="createUser" column="CREATE_USER" />
		<result property="createDate" column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="updateUser" column="UPDATE_USER" />
		<result property="updateDate" column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.City" id="city">
		<result property="cityCd" column="CITY_CD" />
		<result property="cityDesc" column="CITY_DESC" />
		<result property="zoneCd" column="ZONE_CD" />
		<result property="zoneDesc" column="ZONE_DESC" />
		<association property="districtList" resultMap="district"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Province" id="province">
		<result property="provinceCd" column="PROVINCE_CD" />
		<result property="provinceDesc" column="PROVINCE_DESC" />
		<association property="cityList" resultMap="city"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Region" id="region">
		<result property="regionCd" column="REGION_CD" />
		<result property="regionDesc" column="REGION_DESC" />
		<association property="provinceList" resultMap="province"></association>
	</resultMap>
	
	<select id="retrieveMtnDistrict" resultMap="region" parameterType="java.util.Map">
		SELECT * FROM TABLE(MTN_DISTRICT_PKG.ret_mtn_district(#{regionCd, jdbcType=VARCHAR},#{provinceCd, jdbcType=VARCHAR},#{cityCd, jdbcType=VARCHAR},#{districtCd, jdbcType=VARCHAR},'',1,'',''))
	</select>
	
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Deductibles" id="deductibles">
		<result property="lineCd" column="LINE_CD"/>
		<result property="lineDesc" column="DESCRIPTION"/>
		<result property="deductibleCd" column="DEDUCTIBLE_CD"/>
		<result property="deductibleTitle" column="DEDUCTIBLE_TITLE"/>
		<result property="deductibleType" column="DEDUCTIBLE_TYPE"/>
		<result property="deductibleRate" column="DEDUCTIBLE_RATE"/>
		<result property="deductibleAmt" column="DEDUCTIBLE_AMT"/>
		<result property="minAmt" column="MIN_AMT"/>
		<result property="maxAmt" column="MAX_AMT"/>
		<result property="deductibleText" column="DEDUCTIBLE_TEXT"/>
		<result property="activeTag" column="ACTIVE_TAG"/>
		<result property="remarks" column="REMARKS"/>
		<result property="createUser" column="CREATE_USER"/>
		<result property="createDate" column="CREATE_DATE"  typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="updateUser" column="UPDATE_USER"/>
		<result property="updateDate" column="UPDATE_DATE"  typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<select id="retrieveMtnDeductibles" resultMap="deductibles">
		SELECT * FROM TABLE(MTN_DEDUCTIBLES_PKG.ret_mtn_deductibles(#{lineCd, jdbcType=VARCHAR},
		#{coverCd, jdbcType=VARCHAR},#{endtCd, jdbcType=VARCHAR},#{deductibleCd, jdbcType=VARCHAR},
		#{activeTag, jdbcType=VARCHAR},#{defaultTag, jdbcType=VARCHAR},'',1,'',''))
	</select>
	<select id="retrieveMtnSectionCovers" resultMap="retrieveMtnSectionCoversMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(MTN_SEC_COVER_PKG.ret_mtn_sec_cover(#{lineCd, jdbcType=VARCHAR},
																#{coverCd, jdbcType=VARCHAR},
																null,
																null,
																null,
																null
																))
	</select>
	
	<select id="retrieveMtnTypeOfCession" resultMap="retrieveTypeOfCessionMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(MTN_CESSION_PKG.ret_mtn_cession(#{cessionId},null,null,null,null))
	</select>

	<select id="retrieveMtnRegion" resultMap="regionMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_REGION_PKG.ret_mtn_region(#{regionCd, jdbcType=VARCHAR},null,null,null,null))
	</select>
	
	<select id="retrieveMtnProvince" resultMap="regionForProvinceMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_PROVINCE_PKG.ret_mtn_prvnce(#{regionCd, jdbcType=VARCHAR},#{provinceCd, jdbcType=VARCHAR},null,null,null,null))
	</select>
	
	<select id="retrieveMtnObject" resultMap="objectMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_OBJECT_PKG.ret_mtn_obj(#{lineCd},#{objectId},null,null,null,null))
	</select>
	
	<select id="retrieveMtnQuoteWordings" resultMap="quoteWordingsMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_QUOTE_WORDINGS_PKG.ret_mtn_qu_wordings(#{lineCd},#{type},null,null,null,null))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.City" id="cityMap">
		<result property="cityCd"			column="CITY_CD"/>
		<result property="cityDesc"			column="CITY_DESC"/>
		<result property="activeTag"		column="ACTIVE_TAG"/>
		<result property="remarks"			column="REMARKS"/>
		<result property="zoneCd"			column="ZONE_CD"/>
		<result property="zoneDesc"			column="ZONE_DESC"/>
		<result property="createUser"		column="CREATE_USER"/>
		<result property="createDate"		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="updateUser"		column="UPDATE_USER"/>
		<result property="updateDate"		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<select id="retrieveMtnCity" resultMap="regionMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_CITY_PKG.ret_mtn_city(#{regionCd, jdbcType=VARCHAR}, 
																		#{provinceCd, jdbcType=VARCHAR}, 
																		#{cityCd, jdbcType=VARCHAR},
																		#{position, jdbcType=VARCHAR}, 
																		#{count, jdbcType=VARCHAR}, 
																		#{sortKey, jdbcType=VARCHAR}, 
																		#{order, jdbcType=VARCHAR}))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.CrestaZone" id="crestaZoneMap">
		<result property="zoneCd" 			column="ZONE_CD" />
		<result property="zoneDesc"			column="ZONE_DESC" />
		<result property="activeTag" 		column="ACTIVE_TAG" />
		<result property="remarks"			column="REMARKS" />
		<result property="createUser"		column="CREATE_USER" />
		<result property="createDate"		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"		column="UPDATE_USER" />
		<result property="updateDate"		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveMtnCrestaZone" resultMap="crestaZoneMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_CRESTA_PKG.ret_mtn_cresta(#{zoneCd, jdbcType=VARCHAR}, 
																			   #{position, jdbcType=VARCHAR}, 
																			   #{count, jdbcType=VARCHAR}, 
																			   #{sortKey, jdbcType=VARCHAR}, 
																			   #{order, jdbcType=VARCHAR}))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Currency" id="currencyMap">
		<result property="currencyCd"		column="CURRENCY_CD" />
		<!-- <result property="currencyAbbr"		column="CURRENCY_ABBR" /> -->
		<result property="currencyWord"		column="CURRENCY_WORD" />
		<result property="currencyRt"		column="CURRENCY_RT" />
		<result property="currencyDesc"		column="CURRENCY_DESC" />
		<result property="createUser"		column="CREATE_USER" />
		<result property="createDate"		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"		column="UPDATE_USER" />
		<result property="updateDate"		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrieveMtnCurrency" resultMap="currencyMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(MTN_CURR_PKG.ret_mtn_curr(#{currencyCd, jdbcType=VARCHAR},
																			#{activeTag, jdbcType=VARCHAR},
																			#{position, jdbcType=VARCHAR}, 
																			#{count, jdbcType=VARCHAR}, 
																			#{sortKey, jdbcType=VARCHAR}, 
																			#{order, jdbcType=VARCHAR}))
	</select>

	<resultMap type="ph.cpi.rest.api.model.maintenance.AdviceWordings" id="adviceWordingsMap">
		<result property="adviceWordId" 	column="ADVICE_WORD_ID"/> 
		<result property="description" 		column="DESCRIPTION"/> 
		<result property="activeTag" 		column="ACTIVE_TAG"/> 
		<result property="wordings" 		column="WORDINGS"/>
		<result property="remarks" 			column="REMARKS"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" 	typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" 	typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
	</resultMap>
	
	<select id="retMtnAdviceWordings" resultMap="adviceWordingsMap" parameterType="java.util.Map">
            SELECT* FROM TABLE(MTN_ADV_WORD_PKG.ret_adv_wordings(#{adviceWordId, jdbcType=VARCHAR},NULL,NULL,NULL,NULL))
     </select>
     
     
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.Region" id="maintenanceRegionMap">
        <result property="regionCd" 		column="REGION_CD"/>
        <result property="regionDesc" 		column="REGION_DESC"/>
        <association property="provinceList" resultMap="maintenanceProvinceMap"></association>
	</resultMap>

     
     <resultMap type="ph.cpi.rest.api.model.maintenance.Province" id="maintenanceProvinceMap">
        <result property="provinceCd" 	column="PROVINCE_CD"/>
        <result property="provinceDesc" column="PROVINCE_DESC"/>
        <association property="cityList" resultMap="maintenanceCityMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.City" id="maintenanceCityMap">
        <result property="cityCd" 	column="CITY_CD"/>
        <result property="cityDesc" column="CITY_DESC"/>
        <result property="zoneCd" column="ZONE_CD" />
		<result property="zoneDesc" column="ZONE_DESC" />
        <association property="districtList" resultMap="maintenanceDistrictMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.District" id="maintenanceDistrictMap">
        <result property="districtCd" 	column="DISTRICT_CD"/>
        <result property="districtDesc" column="DISTRICT_DESC"/>
        <association property="blockList" resultMap="maintenanceBlockMap"></association>
	</resultMap>
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.Block" id="maintenanceBlockMap">
     	<result property="blockCd" 		column="BLOCK_CD"/> 
		<result property="blockDesc" 	column="BLOCK_DESC"/>
		<result property="activeTag" 	column="ACTIVE_TAG"/>   
		<result property="remarks" 		column="REMARKS"/>
		<result property="createUser" 	column="CREATE_USER"/>
		<result property="createDate" 	column="CREATE_DATE" 	typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="updateUser" 	column="UPDATE_USER"/>
		<result property="updateDate" 	column="UPDATE_DATE" 	typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
     </resultMap>
     
     <select id="retrieveMtnBlock" resultMap="maintenanceRegionMap" parameterType="java.util.Map">
            SELECT * FROM TABLE(MTN_BLOCK_PKG.ret_block(#{regionCd, jdbcType=VARCHAR},#{provinceCd, jdbcType=VARCHAR},#{cityCd, jdbcType=VARCHAR},#{districtCd, jdbcType=VARCHAR},#{blockCd, jdbcType=VARCHAR}, null, null ,null, null))
     </select>
     
     
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.CedingCompany" id="maintenanceCedingCompanyListMap">
     	<result property="cedingId" 		column="CEDING_ID"/> 
		<result property="cedingName" 		column="CEDING_NAME"/>
		<result property="cedingAbbr" 		column="CEDING_ABBR"/>
		<result property="addrLine1" 		column="ADDR_LINE1"/>
		<result property="addrLine2" 		column="ADDR_LINE2"/>
		<result property="addrLine3" 		column="ADDR_LINE3"/>
		<result property="zipCd" 			column="ZIP_CD"/>
		<result property="address" 			column="ADDRESS"/>
		<result property="contactNo" 		column="CONTACT_NO"/>
		<result property="emailAdd" 		column="EMAIL_ADD"/>
		<result property="activeTag" 		column="ACTIVE_TAG"/>
		<result property="govtTag" 			column="GOVT_TAG"/>
		<result property="oldCedingId" 		column="OLD_CEDING_ID"/>
		<result property="membershipTag" 	column="MEMBERSHIP_TAG"/>
		<result property="membershipDate" 	column="MEMBERSHIP_DATE" 	typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="terminationDate" 	column="TERMINATION_DATE" 	typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="inactiveDate" 	column="INACTIVE_DATE" 		typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="remarks" 			column="REMARKS"/>
		<result property="createUser" 		column="CREATE_USER"/>
		<result property="createDate" 		column="CREATE_DATE" 		typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="updateUser" 		column="UPDATE_USER"/>
		<result property="updateDate" 		column="UPDATE_DATE" 		typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
     </resultMap>
     
     <select id="retMtnCedingCompanyListing" resultMap="maintenanceCedingCompanyListMap" parameterType="java.util.Map">
            SELECT* FROM TABLE(MTN_CED_COM_PKG.ret_mtn_ced_com_list(#{cedingId, jdbcType=VARCHAR},#{cedingName, jdbcType=VARCHAR},#{cedingAbbr, jdbcType=VARCHAR},#{address, jdbcType=VARCHAR},#{membershipDate, jdbcType=VARCHAR},#{terminationDate, jdbcType=VARCHAR},#{inactiveDate, jdbcType=VARCHAR},#{activeTag, jdbcType=VARCHAR},#{govtTag, jdbcType=VARCHAR},#{membershipTag, jdbcType=VARCHAR}, null, null ,null, null))
     </select>
     
     
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.CedingCompany" id="maintenanceCedingCompanyMap">
     	<result property="cedingId" 		column="CEDING_ID"/> 
		<result property="cedingName" 		column="CEDING_NAME"/>
		<result property="cedingAbbr" 		column="CEDING_ABBR"/>
		<result property="addrLine1" 		column="ADDR_LINE1"/>
		<result property="addrLine2" 		column="ADDR_LINE2"/>
		<result property="addrLine3" 		column="ADDR_LINE3"/>
		<result property="zipCd" 			column="ZIP_CD"/>
		<result property="address" 			column="ADDRESS"/>
		<result property="contactNo" 		column="CONTACT_NO"/>
		<result property="emailAdd" 		column="EMAIL_ADD"/>
		<result property="activeTag" 		column="ACTIVE_TAG"/>
		<result property="govtTag"			column="GOVT_TAG"/>
		<result property="oldCedingId" 		column="OLD_CEDING_ID"/>
		<result property="membershipTag" 	column="MEMBERSHIP_TAG"/>
		<result property="membershipDate" 	column="MEMBERSHIP_DATE" 	typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="terminationDate" 	column="TERMINATION_DATE" 	typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="inactiveDate" 	column="INACTIVE_DATE" 		typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="remarks" 			column="REMARKS"/>
		<result property="createUser" 		column="CREATE_USER"/>
		<result property="createDate" 		column="CREATE_DATE" 		typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="updateUser" 		column="UPDATE_USER"/>
		<result property="updateDate" 		column="UPDATE_DATE" 		typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
     	<association property="cedingRepresentative" resultMap="cedingRepresentativeMap"></association>
     </resultMap>
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.CedingRepresentative" id="cedingRepresentativeMap">
     	<result property="cedingId" 		column="CEDING_REP_CEDING_ID"/>
		<result property="cedingRepId" 		column="CEDING_REP_ID"/>
		<result property="designation" 		column="DESIGNATION"/>
		<result property="firstName" 		column="FIRST_NAME"/>
		<result property="middleInitial" 	column="MIDDLE_INITIAL"/>
		<result property="lastName" 		column="LAST_NAME"/>
		<result property="fullName" 		column="FULLNAME"/>
		<result property="defaultTag" 		column="DEFAULT_TAG"/>
		<result property="position" 		column="POSITION"/>
		<result property="department" 		column="DEPARTMENT"/>
		<result property="contactNo" 		column="CEDING_REP_CONTACT_NO"/>
		<result property="emailAdd" 		column="CEDING_REP_EMAIL_ADD"/>
		<result property="eSignature" 		column="E_SIGNATURE"/>
		<result property="createUser" 		column="CEDING_REP_CREATE_USER"/>
		<result property="createDate" 		column="CEDING_REP_CREATE_DATE" 	typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property="updateUser" 		column="CEDING_REP_UPDATE_USER"/>
		<result property="updateDate" 		column="CEDING_REP_UPDATE_DATE" 	typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
     </resultMap>
   
     
     <select id="retMtnCedingCompany" resultMap="cedingRepresentativeMap" parameterType="java.util.Map">
            SELECT* FROM TABLE(MTN_CED_REP_PKG.ret_ced_com(#{cedingId, jdbcType=VARCHAR},null,null,null,null))
     </select>
  	
  	<update id="saveMtnRisk" parameterType="java.util.Map" statementType="CALLABLE">
  		BEGIN
  			MTN_RISK_PKG.save_mtn_risk(#{riskId, mode=INOUT, jdbcType=VARCHAR},
  									   #{riskAbbr},
  									   #{riskName},
  									   #{regionCd},
  									   #{provinceCd},
  									   #{cityCd},
  									   #{districtCd, jdbcType=VARCHAR},
  									   #{latitude, jdbcType=VARCHAR},
  									   #{longitude, jdbcType=VARCHAR},
  									   #{zoneCd, jdbcType=VARCHAR},
  									   #{activeTag},
  									   #{remarks, jdbcType=VARCHAR},
  									   #{createUser},
  									   to_date(#{createDate}, 'YYYY-MM-DD'),
  									   #{updateUser},
  									   to_date(#{updateDate}, 'YYYY-MM-DD'),
  									   #{blockCd, jdbcType=VARCHAR}
  				);
  		END;
  	</update>
  	
  	<select id="userLogin" resultType="java.lang.String" parameterType="java.util.Map">
    	SELECT DISTINCT(module_id) module_id FROM TABLE(ETS_USERS_PKG.user_login(#{userId}, #{password}))
    	ORDER BY module_id
    </select>
    
    <resultMap type="ph.cpi.rest.api.model.maintenance.Reason" id="ReasonMap">
		<result property="reasonCd" 		column="REASON_CD"/> 
		<result property="description" 		column="DESCRIPTION"/>
	</resultMap>
	
	<select id="retrieveMtnReason" resultMap="ReasonMap" parameterType="java.util.Map">
            SELECT * FROM TABLE(QU_GEN_INFO_PKG.ret_mtn_reason(#{reasonCd, jdbcType=VARCHAR},NULL,NULL,NULL,NULL))
     </select>

    <!-- <resultMap id="employeeResult" type="ph.cpi.rest.api.model.Employee">
    	<result property="empId" 			column="EMP_ID"/>
    	<result property="empDepartment" 		column="EMP_DEPARTMENT"/>
		<result property="empName" 		column="EMP_NAME"/>
	  	<collection property="addressList" javaType="ArrayList" column="{empId = EMP_ID, addressId = ADDRESS_ID}" ofType="addressResult" select="getEmployeeAddress"/>
	</resultMap>
	
	<resultMap id="addressResult" type="ph.cpi.rest.api.model.Address">
    	<result property="addressId" 		column="ADDRESS_ID"/>
    	<result property="empAddress" 		column="EMP_ADDRESS"/>
	</resultMap>
    
    <select id="getEmployeeX" resultMap="employeeResult">
	  SELECT a.* FROm tbl_employee a
	   where emp_id = #{empId}
	</select>
	
	<select id="EmployeeAddress" resultMap="addressResult">
	  SELECT a.* FROM tbl_address a
	  WHERE emp_id = #{empId}
	    AND address_id = #{addressId}
	</select> -->
    
    <resultMap type="ph.cpi.rest.api.model.maintenance.Users" id="usersMap">
     	<result property="userId"            	column="USER_ID"/>
		<result property="userGrp"           	column="USER_GRP"/>
		<result property="userGrpDesc"			column="USER_GRP_DESC"/>
		<result property="userName"          	column="USER_NAME"/>
		<result property="activeTag"         	column="ACTIVE_TAG"/>
		<result property="password"           	column="PASSWORD"/>
		<result property="emailAddress"      	column="EMAIL_ADDRESS"/>
		<result property="remarks"            	column="REMARKS"/>
		<result property="lastLogin"         	column="LAST_LOGIN"         	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="passwordResetDate"	column="PASSWORD_RESET_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="salt"               	column="SALT"/>
		<result property="invalidLoginTries"	column="INVALID_LOGIN_TRIES"/>
		<result property="createUser"			column="CREATE_USER"/>
		<result property="createDate"        	column="CREATE_DATE"        	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"        	column="UPDATE_USER"/>
		<result property="updateDate"			column="UPDATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     </resultMap>
     
    <select id="retMtnUsers" resultMap="usersMap" parameterType="java.util.Map">
    	SELECT * FROM TABLE(ETS_USERS_PKG.ret_mtn_users(#{userId, jdbcType=VARCHAR},
												  #{position, jdbcType=VARCHAR}, 
												  #{count, jdbcType=VARCHAR}, 
												  #{sortKey, jdbcType=VARCHAR}, 
												  #{order, jdbcType=VARCHAR}))
	</select>
	 
    <resultMap type="ph.cpi.rest.api.model.maintenance.Treaty" id="treatyMap">
    	<result property="treatyId" 		column="TREATY_ID"/>
    	<result property="treatyName" 		column="TREATY_NAME"/>
    	<result property="activeTag" 		column="ACTIVE_TAG"/>
    	<result property="comRate" 			column="COMMISSION_RATE"/>
    	<result property="treatyAbbr" 		column="TREATY_ABBR"/>
    	<result property="treatyType" 		column="TREATY_TYPE"/>
    </resultMap>
    
    <select id="retrieveMtnTreaty" resultMap="treatyMap">
    	SELECT * FROM TABLE(MTN_TREATY_PKG.ret_mtn_treaty(NULL,NULL,NULL,NULL))
    </select>
    
    <resultMap type="ph.cpi.rest.api.model.RefCode" id="refCodeMap">
    	<result property="code" 			column="CODE"/>
    	<result property="identifier" 		column="IDENTIFIER"/>
    	<result property="description" 		column="DESCRIPTION"/>
    </resultMap>
    
    <select id="retrieveRefCode" resultMap="refCodeMap">
    	SELECT * FROM TABLE(REFCODE_PKG.ref_lov(#{identifier, jdbcType=VARCHAR}))
    </select>
    
    
</mapper>