<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ph.cpi.mybatis.mapper.MaintenanceMapper">
	
	<resultMap type="java.util.Map" id="sampleMap">
		<result property="insuredName" column="insured_name"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.Alop" id="alopMap">
	    <result property="alopId" 			column="ALOP_ID"/> 
		<result property="insuredId" 		column="INS_ID"/> 
		<result property="insuredName" 		column="INSURED_NAME"/> 
		<result property="insuredDesc" 		column="INSURED_DESC"/> 
		<result property="address" 			column="ADDRESS"/> 
		<result property="insuredBusiness" 	column="INS_BUSINESS"/> 
		<result property="annSi" 			column="ANN_SI"/> 
		<result property="maxIndemPdSi" 	column="MAX_INDEM_PD_SI"/> 
		<result property="issueDate" 		column="ISSUE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="expiryDate" 		column="EXPIRY_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="maxIndemPd" 		column="MAX_INDEM_PD"/> 
		<result property="indemFromDate" 	column="INDEM_FROM_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="timeExc" 			column="TIME_EXC"/> 
		<result property="repInterval" 		column="REP_INTERVAL"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Region" id="regionMap">
		<result property = "regionCd"       column  =  "REGION_CD"/>
		<result property = "regionDesc"     column  =  "REGION_DESC"/>
		<result property = "activeTag"     	column  =  "ACTIVE_TAG"/> 
		<result property = "remarks"        column  =  "REMARKS"/>
		<result property = "createUser"     column  =  "CREATE_USER"/>
		<result property = "createDate"     column  =  "CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "updateUser"     column  =  "UPDATE_USER"/>
		<result property = "updateDate"     column  =  "UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Province" id="provinceMap">
		<result property = "provinceCd "       column   ="PROVINCE_CD"/>
		<result property = "provinceDesc"      column   ="PROVINCE_DESC"/>
		<result property = "activeTag"         column   ="ACTIVE_TAG"/>
		<result property = "remarks"           column   ="REMARKS"/>
		<result property = "createUser"        column   ="CREATE_USER"/>
		<result property = "createDate"        column   ="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "updateUser"        column   ="UPDATE_USER"/>
		<result property = "updateDate"        column   ="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.Object_" id="objectMap">
		<result property = "lineCd"         column  =   "LINE_CD"/>
		<result property = "lineDesc"       column  =   "LINE_DESCRIPTION"/>
		<result property = "objectId"       column  =   "OBJECT_ID"/>
		<result property = "description"    column  =   "OBJECT_DESCRIPTION"/>
		<result property = "activeTag"      column  =   "ACTIVE_TAG"/>
		<result property = "remarks"        column  =   "REMARKS"/>
		<result property = "createUser"     column  =   "CREATE_USER"/>
		<result property = "createDate"     column  =   "CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "updateUser"     column  =   "UPDATE_USER"/>
		<result property = "updateDate"     column  =   "UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.QuoteWordings" id="quoteWordingsMap">
		 <result property   ="lineCd"      column  =   "LINE_CD"/>   
		 <result property   ="lineDesc"    column  =   "DESCRIPTION"/> 
		 <result property   ="wordingId"   column  =   "WORDING_ID"/>    
		 <result property   ="wording"     column  =   "WORDING"/>  
		 <result property   ="type"        column  =   "TYPE"/> 
		 <result property   ="activeTag"   column  =   "ACTIVE_TAG"/>    
		 <result property   ="defaultTag"  column  =   "DEFAULT_TAG"/>   
		 <result property   ="remarks"     column  =   "REMARKS"/>  
		 <result property   ="createUser"  column  =   "CREATE_USER"/>   
		 <result property   ="createDate"  column  =   "CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>   
		 <result property   ="updateUser"  column  =   "UPDATE_USER"/>   
		 <result property   ="updateDate"  column  =   "UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>  
	</resultMap>
	
	<select id="retrieveMaintenanceSample" resultMap="alopMap" parameterType="java.util.Map">
			SELECT * FROM CPI.ETS_QUOTE_PKG.retrieve_quote_alop(#{quoteId},#{quotationNo})
	</select>
	
	<select id="retrieveMtnRegion" resultMap="regionMap" parameterType="java.util.Map">
			SELECT * FROM ETS_MAINTENANCE_PKG_JAP.retrieve_mtn_region(#{regionCd},null,null,null,null)
	</select>
	
	<select id="retrieveMtnProvince" resultMap="provinceMap" parameterType="java.util.Map">
			SELECT * FROM ETS_MAINTENANCE_PKG_JAP.retrieve_mtn_province(#{regionCd},#{provinceCd},null,null,null,null)
	</select>
	
	<select id="retrieveMtnObject" resultMap="objectMap" parameterType="java.util.Map">
			SELECT * FROM CPI.ETS_MAINTENANCE_PKG_JAP.retrieve_mtn_object(#{lineCd},#{objectId},null,null,null,null)
	</select>
	
	<select id="retrieveMtnQuoteWordings" resultMap="quoteWordingsMap" parameterType="java.util.Map">
			SELECT * FROM CPI.ETS_MAINTENANCE_PKG_JAP.retrieve_mtn_quotation_wordings(#{lineCd},#{type},null,null,null,null)
	</select>
</mapper>