<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ph.cpi.mybatis.mapper.QuoteMapper">
	
	<resultMap type="java.util.Map" id="sampleMap">
		<result property="insuredName" column="insured_name"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.Alop" id="alopMap">
	    <result property="alopId" 			column="ALOP_ID"/> 
		<result property="insuredId" 		column="INS_ID"/> 
		<result property="insuredName" 		column="INSURED_NAME"/> 
		<result property="insuredDesc" 		column="INSURED_DESC"/> 
		<result property="address" 			column="ADDRESS"/> 
		<result property="insuredBusiness" 	column="INS_BUSINESS"/> 
		<result property="annSi" 			column="ANN_SI"/> 
		<result property="maxIndemPdSi" 	column="MAX_INDEM_PD_SI"/> 
		<result property="issueDate" 		column="ISSUE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="expiryDate" 		column="EXPIRY_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="maxIndemPd" 		column="MAX_INDEM_PD"/> 
		<result property="indemFromDate" 	column="INDEM_FROM_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="timeExc" 			column="TIME_EXC"/> 
		<result property="repInterval" 		column="REP_INTERVAL"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.quote.HoldCover" id="holdCoverMap">
		<result property = "holdCoverId"         column = "HOLD_COV_ID"/>
		<result property = "holdCoverNo"         column = "HOLD_COV_NO"/>
		<result property = "lineCd"              column = "LINE_CD"/>
		<result property = "lineCdDesc"          column = "DESCRIPTION"/>
		<result property = "holdCoverYear"       column = "HOLD_COV_YEAR"/>
		<result property = "holdCoverSeqNo"      column = "HOLD_COV_SEQ_NO"/>
		<result property = "holdCoverRevNo"      column = "HOLD_COV_REV_NO"/>
		<result property = "periodFrom"          column = "PERIOD_FROM" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "periodTo"            column = "PERIOD_TO" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "compRefHoldCovNo"    column = "COMP_REF_HOLD_COV_NO"/>
		<result property = "status"              column = "STATUS"/>
		<result property = "reqBy"               column = "REQ_BY"/>
		<result property = "reqDate"             column = "REQ_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "preparedBy"          column = "PREPARED_BY"/>
		<result property = "approvedBy"          column = "APPROVED_BY"/>
		<result property = "createUser"          column = "CREATE_USER"/>
		<result property = "createDate"          column = "CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "updateUser"          column = "UPDATE_USER"/>
		<result property = "updateDate"          column = "UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.quote.QuotationOc" id="quotationOcMap">
		<result property    ="quoteIdOc"            column  ="QUOTE_ID_OC"/>
		<result property    ="openQuotationNo"      column  ="OC_QUOTE_NO"/>
		<result property    ="lineCd"               column  ="LINE_CD"/>
		<result property    ="lineCdDesc"           column  ="LINE_DESCRIPTION"/>
		<result property    ="year"                 column  ="YEAR"/>
		<result property    ="seqNo"                column  ="SEQ_NO"/>
		<result property    ="revNo"                column  ="REV_NO"/>
		<result property    ="cedingId"             column  ="CEDING_ID"/>
		<result property    ="cessionId"            column  ="CESSION_ID"/>
		<result property    ="cedingName"           column  ="CEDING_NAME"/>
		<result property    ="lineClassCd"          column  ="LINE_CLASS_CD"/>
		<result property    ="lineClassDesc"        column  ="LINE_CLASS_DESCRIPTION"/>
		<result property    ="refPolNo"             column  ="REF_POL_NO"/>
		<result property    ="policyIdOc"           column  ="POLICY_ID_OC"/>
		<result property    ="openPolicyNo"         column  ="OPEN_POLICY_NO"/>
		<result property    ="prinId"               column  ="PRIN_ID"/>
		<result property    ="principalName"        column  ="PRINCIPAL_NAME"/>
		<result property    ="contractorId"         column  ="CONTRACTOR_ID"/>
		<result property    ="contactorName"        column  ="CONTRACTOR_NAME"/>
		<result property    ="insuredDesc"          column  ="INSURED_DESC"/>
		<result property    ="status"               column  ="STATUS"/>
		<result property    ="reinsurerId"          column  ="REINSURER_ID"/>
		<result property    ="reinsurerName"        column  ="CEDING_NAME"/>
		<result property    ="intmId"               column  ="INTM_ID"/>
		<result property    ="intmName"             column  ="INTM_NAME"/>
		<result property    ="issueDate"            column  ="ISSUE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property    ="expiryDate"           column  ="EXPIRY_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property    ="reqBy"                column  ="REQ_BY"/>
		<result property    ="reqDate"              column  ="REQ_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property    ="reqMode"              column  ="REQ_MODE"/>
		<result property    ="currencyCd"           column  ="CURRENCY_CD"/>
		<result property    ="currencyRt"           column  ="CURRENCY_RT"/>
		<result property    ="govtTag"              column  ="GOVT_TAG"/>
		<result property    ="indicativeTag"        column  ="INDICATIVE_TAG"/>
		<result property    ="preparedBy"           column  ="PREPARED_BY"/>
		<result property    ="approvedBy"           column  ="APPROVED_BY"/>
		<result property    ="printedBy"            column  ="PRINTED_BY"/>
		<result property    ="printDate"            column  ="PRINT_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property    ="openingParag"         column  ="OPENING_PARAG"/>
		<result property    ="closingParag"         column  ="CLOSING_PARAG"/>
		<result property    ="reasonCd"             column  ="REASON_CD"/>
		<result property    ="reasonDesc"           column  ="ETS_DESCRIPTION"/>
		<result property    ="createUser"           column  ="GEN_INFO_OC_CREATE_USER"/>
		<result property    ="createDate"           column  ="GEN_INFO_OC_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property    ="updateUser"           column  ="GEN_INFO_OC_UPDATE_USER"/>
		<result property    ="updateDate"           column  ="GEN_INFO_OC_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<association property = "projectOc"		resultMap = "projectOcMap"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.quote.Project" id="projectMap">
		<result property = "riskName"			column	=	"RISK_NAME"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.quote.ProjectOc" id="projectOcMap">
		<result property    ="projId"               column  ="PROJ_ID"/>
		<result property    ="projDesc"             column  ="PROJ_DESC"/>
		<result property    ="riskId"               column  ="RISK_ID"/>
		<result property    ="maxSi"                column  ="MAX_SI"/>
		<result property    ="pctShare"             column  ="PCT_SHARE"/>
		<result property    ="totalValue"           column  ="TOTAL_VALUE"/>
		<result property    ="objectId"             column  ="OBJECT_ID"/>
		<result property    ="site"                 column  ="SITE"/>
		<result property    ="duration"             column  ="DURATION"/>
		<result property    ="testing"              column  ="TESTING"/>
		<result property    ="createUser"           column  ="CREATE_USER"/>
		<result property    ="createDate"           column  ="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property    ="updateUser"           column  ="UPDATE_USER"/>
		<result property    ="updateDate"           column  ="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.quote.Quotation" id="quotationMap">
		<result property 		= "quoteId" 		column		= "QUOTE_ID" />
		<result property 		= "quotationNo" 	column		= "QUOTE_NO" />
		<result property 		= "cedingName" 		column		= "CEDING_NAME" />
		<result property 		= "insuredDesc" 	column		= "INSURED_DESC" />
		<association property 	= "holdCover" 		resultMap 	= "holdCoverMap"/>
		<association property 	= "project"			resultMap 	= "projectMap"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.quote.Quotation" id="quotationListingMap">
		<association property 	= "holdCover" 		resultMap 	= "holdCoverListingMap"/>
		<association property 	= "project"			resultMap 	= "projectMap"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.quote.HoldCover" id="holdCoverListingMap">
		<result property = "holdCoverId"         column = "HOLD_COV_ID"/>
		<result property = "holdCoverNo"         column = "HOLD_COV_NO"/>
		<result property = "lineCd"              column = "LINE_CD"/>
		<result property = "lineCdDesc"          column = "DESCRIPTION"/>
		<result property = "holdCoverYear"       column = "HOLD_COV_YEAR"/>
		<result property = "holdCoverSeqNo"      column = "HOLD_COV_SEQ_NO"/>
		<result property = "holdCoverRevNo"      column = "HOLD_COV_REV_NO"/>
		<result property = "periodFrom"          column = "PERIOD_FROM" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "periodTo"            column = "PERIOD_TO" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "compRefHoldCovNo"    column = "COMP_REF_HOLD_COV_NO"/>
		<result property = "status"              column = "STATUS"/>
		<result property = "reqBy"               column = "REQ_BY"/>
		<result property = "reqDate"             column = "REQ_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "preparedBy"          column = "PREPARED_BY"/>
		<result property = "approvedBy"          column = "APPROVED_BY"/>
		<result property = "createUser"          column = "CREATE_USER"/>
		<result property = "createDate"          column = "CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
		<result property = "updateUser"          column = "UPDATE_USER"/>
	</resultMap>
	
	
	<select id="retrieveQuoteAlopSample" resultMap="alopMap" parameterType="java.util.Map">
			SELECT * FROM CPI.ETS_QUOTE_PKG.retrieve_quote_alop(#{quoteId},#{quotationNo})
	</select>
	
	<select id="retrieveQuoteHoldCover" resultMap="quotationMap" parameterType="java.util.Map">
			SELECT * FROM ETS_QUOTE_PKG_JAP.retrieve_quote_hold_cover(#{holdCoverId},#{holdCoverNo},null,null,null,null)
	</select>
	
	<select id="retrieveQuoteGeneralInfoOc" resultMap="quotationOcMap" parameterType="java.util.Map">
			SELECT * FROM ETS_QUOTE_PKG_JAP.retrieve_quote_gen_info_oc(#{quoteIdOc},#{openQuotationNo},null,null,null,null)
	</select>
	
	<select id="retrieveQuoteHoldCoverListing" resultMap="quotationListingMap" parameterType="java.util.Map">
			SELECT * FROM ETS_QUOTE_PKG_JAP.retrieve_quote_hold_cover_listing(#{holdCoverNo},#{status},#{cedingName},#{quotationNo},#{riskName},#{insuredDesc},
					#{periodFrom},#{periodTo},#{compRefHoldCovNo},#{reqBy},#{reqDate},#{expiringInDays},'','','','')
	</select>
	
</mapper>