<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ph.cpi.mybatis.mapper.SecurityMapper">

     <resultMap type="ph.cpi.rest.api.model.maintenance.Module" id="moduleMap">
     	<result property="moduleId"			column="MODULE_ID" />  
		<result property="moduleDesc"		column="MODULE_DESC" />
		<result property="moduleGrp"		column="MODULE_GRP" /> 
		<result property="description"		column="DESCRIPTION" />
		<result property="remarks"			column="REMARKS" />    
		<result property="createUser"		column="CREATE_USER" />
		<result property="createDate"		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"		column="UPDATE_USER" />
		<result property="updateDate"		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     </resultMap>
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.UserWithGrpModule" id="userWithGrpModuleMap">
     	<result property="userId"			column="USER_ID" />  
		<result property="userName"			column="USER_NAME" />
		<result property="activeTag"		column="ACTIVE_TAG" /> 
		<result property="userGrp"			column="USER_GRP" />  
		<result property="userGrpDesc"		column="USER_GRP_DESC" />
     	<result property="moduleId"			column="MODULE_ID" />  
		<result property="moduleDesc"		column="MODULE_DESC" />
		<result property="moduleGrp"		column="MODULE_GRP" /> 
		<result property="description"		column="DESCRIPTION" />
		<result property="remarks"			column="REMARKS" />    
		<result property="createUser"		column="CREATE_USER" />
		<result property="createDate"		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"		column="UPDATE_USER" />
		<result property="updateDate"		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     </resultMap>
     
     <select id="retrieveMtnModules" resultMap="moduleMap" parameterType="java.util.Map">    	  
		 SELECT * from TABLE(MTN_SECURITY_PKG.retrieve_mtn_modules(#{moduleId, jdbcType=VARCHAR}, #{tranCd, jdbcType=INTEGER}, null, null, null, null))
     </select>
     
     <select id="retrieveUserModules" resultMap="userWithGrpModuleMap" parameterType="java.util.Map">    	  
		 SELECT * from TABLE(MTN_SECURITY_PKG.retrieve_user_modules(#{userId, jdbcType=VARCHAR}, #{tranCd, jdbcType=INTEGER}, #{moduleId, jdbcType=VARCHAR}, null, null, null, null))
     </select>
     
     <select id="retrieveGroupModules" resultMap="userWithGrpModuleMap" parameterType="java.util.Map">    	  
		 SELECT * from TABLE(MTN_SECURITY_PKG.retrieve_usergrp_modules(#{userGrp, jdbcType=INTEGER}, #{tranCd, jdbcType=INTEGER}, #{moduleId, jdbcType=VARCHAR}, null, null, null, null))
     </select>
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.Transaction" id="transactionMap">
     	<result property="tranCd" 				column="TRAN_CD" /> 
		<result property="tranDesc" 			column="TRAN_DESC" /> 
		<result property="remarks" 				column="REMARKS" /> 
		<result property="createUser" 			column="CREATE_USER" /> 
		<result property="createDate" 			column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" /> 
		<result property="updateUser" 			column="UPDATE_USER" /> 
		<result property="updateDate" 			column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" /> 
     </resultMap>
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.UserWithGrpTransaction" id="userWithGrpTransactionMap">
     	<result property="userId"				column="USER_ID" />  
		<result property="userName"				column="USER_NAME" />
		<result property="activeTag"			column="ACTIVE_TAG" /> 
		<result property="userGrp"				column="USER_GRP" />  
		<result property="userGrpDesc"			column="USER_GRP_DESC" />
     	<result property="tranCd" 				column="TRAN_CD" /> 
		<result property="tranDesc" 			column="TRAN_DESC" /> 
		<result property="remarks" 				column="REMARKS" /> 
		<result property="createUser" 			column="CREATE_USER" /> 
		<result property="createDate" 			column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" /> 
		<result property="updateUser" 			column="UPDATE_USER" /> 
		<result property="updateDate" 			column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler" /> 
     </resultMap>
     
     <select id="retrieveMtnTransactions" resultMap="transactionMap" parameterType="java.util.Map"> 
     	 SELECT * from TABLE(MTN_SECURITY_PKG.retrieve_mtn_transactions(#{moduleId, jdbcType=VARCHAR}, #{tranCd, jdbcType=INTEGER}, null, null, null, null))
     </select>
     
     <select id="retrieveUserTransactions" resultMap="userWithGrpTransactionMap" parameterType="java.util.Map"> 
     	 SELECT * from TABLE(MTN_SECURITY_PKG.retrieve_user_transactions(#{userId, jdbcType=VARCHAR}, #{tranCd, jdbcType=INTEGER}, null, null, null, null))
     </select>
     
     <select id="retrieveGroupTransactions" resultMap="userWithGrpTransactionMap" parameterType="java.util.Map"> 
     	 SELECT * from TABLE(MTN_SECURITY_PKG.retrieve_usergrp_transactions(#{userGrp, jdbcType=INTEGER}, #{tranCd, jdbcType=INTEGER}, null, null, null, null))
     </select>
     
     <update id="saveUserTransactions" parameterType="java.util.Map">
		BEGIN
			<foreach collection="transactionList" item="tranItem">
			BEGIN
		    	MTN_SECURITY_PKG.save_user_transaction(#{tranItem.userId, jdbcType=VARCHAR},
		    										   #{tranItem.tranCd, jdbcType=INTEGER},
		    										   #{tranItem.remarks, jdbcType=VARCHAR},
		    										   #{tranItem.createUser, jdbcType=VARCHAR},
		    										   #{tranItem.updateUser, jdbcType=VARCHAR});
			END;
			</foreach>
		END;
	</update>
	
	<update id="saveUserModules" parameterType="java.util.Map">
		BEGIN
			<foreach collection="moduleList" item="modItem">
			BEGIN
		    	MTN_SECURITY_PKG.save_user_module(#{modItem.userId, jdbcType=VARCHAR},
		    										   #{modItem.tranCd, jdbcType=INTEGER},
		    										   #{modItem.moduleId, jdbcType=VARCHAR},
		    										   #{modItem.remarks, jdbcType=VARCHAR},
		    										   #{modItem.createUser, jdbcType=VARCHAR},
		    										   #{modItem.updateUser, jdbcType=VARCHAR});
			END;
			</foreach>
		END;
	</update>
	
	<update id="saveGroupTransactions" parameterType="java.util.Map">
		BEGIN
			<foreach collection="transactionList" item="tranItem">
			BEGIN
		    	MTN_SECURITY_PKG.save_usergrp_transaction(#{tranItem.userGrp, jdbcType=VARCHAR},
		    										   #{tranItem.tranCd, jdbcType=INTEGER},
		    										   #{tranItem.remarks, jdbcType=VARCHAR},
		    										   #{tranItem.createUser, jdbcType=VARCHAR},
		    										   #{tranItem.updateUser, jdbcType=VARCHAR});
			END;
			</foreach>
		END;
	</update>
	
	<update id="saveGroupModules" parameterType="java.util.Map">
		BEGIN
			<foreach collection="moduleList" item="modItem">
			BEGIN
		    	MTN_SECURITY_PKG.save_usergrp_module(#{modItem.userGrp, jdbcType=VARCHAR},
		    										   #{modItem.tranCd, jdbcType=INTEGER},
		    										   #{modItem.moduleId, jdbcType=VARCHAR},
		    										   #{modItem.remarks, jdbcType=VARCHAR},
		    										   #{modItem.createUser, jdbcType=VARCHAR},
		    										   #{modItem.updateUser, jdbcType=VARCHAR});
			END;
			</foreach>
		END;
	</update>
	
	<update id="saveMtnModules" parameterType="java.util.Map">
		BEGIN
			<foreach collection="delMtnModuleList" item="modItem">
			BEGIN
		    	MTN_SECURITY_PKG.del_mtn_module(#{modItem.moduleId, jdbcType=VARCHAR});
			END;
			</foreach>
		
			<foreach collection="mtnModuleList" item="modItem">
			BEGIN
		    	MTN_SECURITY_PKG.save_mtn_module(#{modItem.moduleId, jdbcType=VARCHAR}, 
		    									 #{modItem.moduleDesc, jdbcType=VARCHAR}, 
		    									 #{modItem.moduleGrp, jdbcType=VARCHAR}, 
		    									 #{modItem.remarks, jdbcType=VARCHAR}, 
		    									 #{modItem.createUser, jdbcType=VARCHAR}, 
		    									 #{modItem.updateUser, jdbcType=VARCHAR});
			END;
			</foreach>
		END;
	</update>
	
</mapper>