<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="ph.cpi.mybatis.mapper.UnderwritingMapper">

	
	<resultMap type="ph.cpi.rest.api.model.underwriting.InwPolBalance" id="inwPolBalMap">
		<result property = "instNo" 			column = "INST_NO"/>
		<result property = "dueDate" 			column = "DUE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property = "bookingDate" 		column = "BOOKING_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property = "premAmt" 			column = "PREM_AMT"	/>
		<result property = "otherChargesInw" 	column = "OTHER_CHARGES"/>
		<result property = "amtDue" 			column = "AMT_DUE"/>
		<result property = "createUser" 		column = "CREATE_USER"/>
		<result property = "createDate" 		column = "CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property = "updateUser" 		column = "UPDATE_USER"/>
		<result property = "updateDate" 		column = "UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property = "otherCharges" 	resultMap = "otherChargesMap"/> 
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.OtherCharges" id="otherChargesMap">
		<result property = "instNo"			column = "OTHER_INST_NO"/> 
		<result property = "chargeCd"		column = "CHARGE_CD"/>
		<result property = "amount"			column = "AMOUNT"/>
		<result property = "createUser"		column = "OTHER_CREATE_USER"/>
		<result property = "createDate"		column = "OTHER_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property = "updateUser"		column = "OTHER_UPDATE_USER"/>
		<result property = "updateDate"		column = "OTHER_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap> 
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Policy" id="policyMap">
		<association property = "inwPolBalance" 	resultMap = "inwPolBalMap"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.CoInsurance" id="coInsuranceMap">
		<result property = "policyNo"		column = "POLICY_NO"/>
		<result property = "coRefNo"		column = "CO_REF_NO"/>
		<result property = "cedingId"		column = "CEDING_ID"/>
		<result property = "cedingName"		column = "CEDING_NAME"/>
		<result property = "pctShare"		column = "PCT_SHARE"/>
		<result property = "shareSiAmt"		column = "SHARE_SI_AMT"/>
		<result property = "sharePremAmt"	column = "SHARE_PREM_AMT"/>
		<result property = "createUser"		column = "CREATE_USER"/>
		<result property = "createDate"		column = "CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property = "updateUser"		column = "UPDATE_USER"/>
		<result property = "updateDate"		column = "UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrievePolInwardBal" resultMap="inwPolBalMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(POL_INWARD_PKG.ret_pol_inward(#{policyId,jdbcType=INTEGER},#{policyNo,jdbcType=VARCHAR},null,null,null,null))
	</select>
	
	<select id="retrievePolCoInsurance" resultMap="coInsuranceMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(POL_INSURANCE_PKG.ret_pol_insurance(#{policyId,jdbcType=INTEGER},#{policyNo,jdbcType=VARCHAR},null,null,null,null))
	</select>
	
</mapper>
        