<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ph.cpi.mybatis.mapper.UnderwritingMapper">
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.InwPolBalance" id="inwPolBalMap">
		<result property="instNo" 				column="INST_NO"/>
		<result property="dueDate" 				column="DUE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="bookingDate" 			column="BOOKING_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="premAmt" 				column="PREM_AMT"/>
		<result property="otherChargesInw" 		column="OTHER_CHARGES"/>
		<result property="amtDue" 				column="AMT_DUE"/>
		<result property="createUser" 			column="CREATE_USER"/>
		<result property="createDate" 			column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"	 		column="UPDATE_USER"/>
		<result property="updateDate" 			column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property="otherCharges" 	resultMap = "otherChargesMap"/> 
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.OtherCharges" id="otherChargesMap">
		<result property="instNo"			column="OTHER_INST_NO"/> 
		<result property="chargeCd"			column="CHARGE_CD"/>
		<result property="amount"			column="AMOUNT"/>
		<result property="createUser"		column="OTHER_CREATE_USER"/>
		<result property="createDate"		column="OTHER_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"		column="OTHER_UPDATE_USER"/>
		<result property="updateDate"		column="OTHER_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap> 
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Policy" id="policyMap">
		<result property="policyId" 			column="POLICY_ID"/>
		<result property="policyNo" 			column="POLICY_NO"/>
		<result property="lineCd" 				column="LINE_CD"/>
		<result property="lineCdDesc" 			column="LINE_DESC"/>
		<result property="polYear" 				column="POL_YEAR"/>
		<result property="polSeqNo" 			column="POL_SEQ_NO"/>
		<result property="cedingId" 			column="CEDING_ID"/>
		<result property="cedingName" 			column="CEDING_NAME"/>
		<result property="coSeriesNo" 			column="CO_SERIES_NO"/>
		<result property="altNo" 				column="ALT_NO"/>
		<result property="cessionId" 			column="CESSION_ID"/>
		<result property="cessionDesc" 			column="CESSION_DESC"/>
		<result property="lineClassCd" 			column="LINE_CLASS_CD"/>
		<result property="lineClassDesc" 		column="LINE_CLASS_DESC"/>
		<result property="quoteId" 				column="QUOTE_ID"/>
		<result property="quotationNo" 			column="QUOTATION_NO"/>
		<result property="holdCoverNo" 			column="HOLD_COV_NO"/>
		<result property="status" 				column="STATUS"/>
		<result property="statusDesc" 			column="STATUS_DESC"/>
		<result property="coRefNo" 				column="CO_REF_NO"/>
		<result property="reinsurerId" 			column="REINSURER_ID"/>
		<result property="reinsurerName" 		column="CEDING_NAME"/>
		<result property="riBinderNo" 			column="RI_BINDER_NO"/>
		<result property="mbiRefNo" 			column="MBI_REF_NO"/>
		<result property="policyIdOc" 			column="POLICY_ID_OC"/>
		<result property="openPolicyNo"			column="OC_POLICY_NO"/>
		<result property="refOpenPolNo" 		column="REF_OPEN_POL_NO"/>
		<result property="intmId" 				column="INTM_ID"/>
		<result property="intmName" 			column="INTM_NAME"/>
		<result property="principalId" 			column="PRIN_ID"/>
		<result property="principalName" 		column="INSURED_NAME"/>
		<result property="contractorId" 		column="CONTRACTOR_ID"/>
		<result property="contractorName" 		column="INSURED_NAME"/>
		<result property="inceptDate" 			column="INCEPT_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="expiryDate" 			column="EXPIRY_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="lapseFrom" 			column="LAPSE_FROM" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="lapseTo" 				column="LAPSE_TO" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="maintenanceFrom" 		column="MAINTENANCE_FROM" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="maintenanceTo" 		column="MAINTENANCE_TO" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="issueDate" 			column="ISSUE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="effDate" 				column="EFF_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="distDate" 			column="DIST_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="acctDate" 			column="ACCT_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="currencyCd" 			column="CURRENCY_CD"/>
		<result property="currencyRt" 			column="CURRENCY_RT"/>
		<result property="bookedTag" 			column="BOOKED_TAG"/>
		<result property="govtTag" 				column="GOVT_TAG"/>
		<result property="openCoverTag" 		column="OPEN_COVER_TAG"/>
		<result property="holdCoverTag" 		column="HOLD_COVER_TAG"/>
		<result property="declarationTag" 		column="DECLARATION_TAG"/>
		<result property="minDepTag" 			column="MIN_DEP_TAG"/>
		<result property="altTag" 				column="ALT_TAG"/>
		<result property="specialPolicyTag" 	column="SPECIAL_POLICY_TAG"/>
		<result property="instTag" 				column="INST_TAG"/>
		<result property="extensionTag" 		column="EXTENSION_TAG"/>
		<result property="excludeDistTag" 		column="EXCLUDE_DIST_TAG"/>
		<result property="wordings" 			column="WORDINGS"/>
		<result property="createUser" 			column="CREATE_USER"/>
		<result property="createDate" 			column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 			column="UPDATE_USER"/>
		<result property="updateDate" 			column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>

		<association property="inwPolBalance" 	resultMap="inwPolBalMap"/>
		<association property="coInsurance" 	resultMap="coInsuranceMap"/>
		<association property="deductibles" 	resultMap="PolDeductiblesMap"/>
		<association property="project" 		resultMap="projectMap"/>
		<association property="alop" 			resultMap="assocAlop"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.CoInsurance" id="coInsuranceMap">
		<result property="policyNo"		column="POLICY_NO"/>
		<result property="coRefNo"		column="CO_REF_NO"/>
		<result property="cedingId"		column="CEDING_ID"/>
		<result property="cedingName"	column="CEDING_NAME"/>
		<result property="pctShare"		column="PCT_SHARE"/>
		<result property="shareSiAmt"	column="SHARE_SI_AMT"/>
		<result property="sharePremAmt"	column="SHARE_PREM_AMT"/>
		<result property="createUser"	column="CREATE_USER"/>
		<result property="createDate"	column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"	column="UPDATE_USER"/>
		<result property="updateDate"	column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrievePolInwardBal" resultMap="policyMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(POL_INWARD_PKG.ret_pol_inward(#{policyId,jdbcType=INTEGER},#{policyNo,jdbcType=VARCHAR},null,null,null,null))
	</select>
	
	<select id="retrievePolCoInsurance" resultMap="policyMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(POL_INSURANCE_PKG.ret_pol_insurance(#{policyId,jdbcType=INTEGER},#{policyNo,jdbcType=VARCHAR},null,null,null,null))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Deductibles" id="PolDeductiblesMap">
		<result property="coverCd"			column="COVER_CD" />
		<result property="coverCdDesc"		column="COVER_DESC"/>
		<result property="endtCd"			column="ENDT_CD"/>
		<result property="endtTitle"		column="ENDT_TITLE"/>
		<result property="deductibleCd"		column="DED_CD"/>
		<result property="deductibleTitle"	column="DED_TITLE"/>
		<result property="deductibleRt"		column="DED_RT"/>
		<result property="deductibleAmt"	column="DED_AMT"/>
		<result property="deductibleTxt"	column="DED_TXT"/>
		<result property="createUser"		column="DED_CREATE_USER"/>
		<result property="createDate"		column="DED_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"		column="DED_UPDATE_USER"/>
		<result property="updateDate"		column="DED_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Project" id="projectMap">
		<result property="projId" 		column="PROJ_ID"/>
		<result property="riskId" 		column="RISK_ID"/>
		<result property="riskName" 	column="RISK_NAME"/>
		<result property="riskName" 	column="RISK_NAME"/>
		<result property="regionCd" 	column="REGION_CD"/>
		<result property="regionDesc" 	column="REGION_DESC"/>
		<result property="provinceCd" 	column="PROVINCE_CD"/>
		<result property="provinceDesc" column="PROVINCE_DESC"/>
		<result property="cityCd" 		column="CITY_CD"/>
		<result property="cityDesc" 	column="CITY_DESC"/>
		<result property="districtCd" 	column="DISTRICT_CD"/>
		<result property="districtDesc" column="DISTRICT_DESC"/>
		<result property="blockCd" 		column="BLOCK_CD"/>
		<result property="blockDesc" 	column="BLOCK_DESC"/>
		<result property="latitude" 	column="LATITUDE"/>
		<result property="longitude" 	column="LONGITUDE"/>
		<result property="totalSi" 		column="TOTAL_SI"/>
		<result property="objectId" 	column="OBJECT_ID"/>
		<result property="objectDesc" 	column="OBJECT_DESC"/>
		<result property="site" 		column="SITE"/>
		<result property="duration" 	column="DURATION"/>
		<result property="testing" 		column="TESTING"/>
		<result property="ipl" 			column="IPL"/>
		<result property="timeExc" 		column="TIME_EXC"/>
		<result property="noClaimPd" 	column="NO_CLAIM_PD"/>
		<result property="createUser" 	column="PRJ_CREATE_USER"/>
		<result property="createDate" 	column="PRJ_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 	column="PRJ_UPDATE_USER"/>
		<result property="updateDate" 	column="PRJ_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		
		<association property="coverage" resultMap="coverageMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Coverage" id="coverageMap">
		<result property="sectionISi" 			column="SECTION_I_SI"/>
		<result property="sectionIISi" 			column="SECTION_II_SI"/>
		<result property="sectionIIISi" 		column="SECTION_III_SI"/>
		<result property="totalSi" 				column="TOTAL_SI"/>
		<result property="sectionIPrem" 		column="SECTION_I_PREM"/>
		<result property="sectionIIPrem" 		column="SECTION_II_PREM"/>
		<result property="sectionIIIPrem" 		column="SECTION_III_PREM"/>
		<result property="totalPrem" 			column="TOTAL_PREM"/>
		<result property="currencyCd" 			column="CURRENCY_CD"/>
		<result property="currencyRt" 			column="CURRENCY_RT"/>
		<result property="pctShare" 			column="PCT_SHARE"/>
		<result property="pctPml" 				column="PCT_PML"/>
		<result property="totalValue" 			column="TOTAL_VALUE"/>
		<result property="remarks" 				column="REMARKS"/>
		<result property="createUser" 			column="CREATE_USER"/>
		<result property="createDate" 			column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" 			column="UPDATE_USER"/>
		<result property="updateDate" 			column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property="sectionCovers" resultMap ="sectionCoversMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.SectionCovers" id="sectionCoversMap">
		<result property="lineCd" 					column="LINE_CD"/>
		<result property="lineCdDesc" 				column="LINE_DESC"/>
		<result property="section" 					column="SECTION"/>
		<result property="coverCd" 					column="COVER_CD"/>
		<result property="description" 				column="DESCRIPTION"/>
		<result property="bulletNo" 				column="BULLET_NO"/>
		<result property="sumInsured" 				column="SUM_INSURED"/>
		<result property="premRt" 					column="PREM_RT"/>
		<result property="premAmt" 					column="PREM_AMT"/>
		<result property="addSi" 					column="ADD_SI"/>
		<result property="createUserSec" 			column="CREATE_USER_SEC"/>
		<result property="createDateSec" 			column="CREATE_DATE_SEC" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUserSec" 			column="UPDATE_USER_SEC"/>
		<result property="updateDateSec" 			column="UPDATE_DATE_SEC" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrievePolicyDeductibles" resultMap="policyMap" parameterType="java.util.Map">
		SELECT * FROM TABLE (POL_DEDUCTIBLES_PKG.ret_pol_deductibles(#{policyId,jdbcType=VARCHAR},#{policyNo,jdbcType=VARCHAR},#{coverCd,jdbcType=VARCHAR},#{endtCd,jdbcType=VARCHAR},null,null,null,null))
	</select>
	
	<select id="retrievePolCoverage" resultMap="policyMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(POL_COVERAGE_PKG.ret_pol_cover(#{policyId, jdbcType=VARCHAR},#{policyNo, jdbcType=VARCHAR},#{position, jdbcType=VARCHAR}, 
																	   #{count, jdbcType=VARCHAR}, 
																	   #{sortKey, jdbcType=VARCHAR}, 
																	   #{order, jdbcType=VARCHAR}))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Policy" id="polAttachmentMap">
	    <result property="policyId" 		column="POLICY_ID"/> 
		<result property="policyNo" 		column="POLICY_NO"/> 
		<association property="attachments" resultMap="assocAttachmentMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Attachment" id="assocAttachmentMap">
		<result property="fileNo" 			column="FILE_NO"/> 
		<result property="fileName" 		column="FILE_NAME"/> 
		<result property="description" 		column="DESCRIPTION"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrievePolAttachment" resultMap="polAttachmentMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(POL_ATTACHMENT_PKG.ret_pol_attchmnt(#{policyId, jdbcType=INTEGER},
																	#{policyNo, jdbcType=VARCHAR},
																	#{position, jdbcType=VARCHAR}, 
																	#{count, jdbcType=VARCHAR}, 
																	#{sortKey, jdbcType=VARCHAR}, 
																	#{order, jdbcType=VARCHAR}))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Policy" id="polEndtMap">
	    <result property="policyId" 		column="POLICY_ID"/> 
		<result property="policyNo" 		column="POLICY_NO"/> 
		<association property="endorsements" resultMap="assocEndorsementsMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Endorsements" id="assocEndorsementsMap">
		<result property="endtCd" 			column="ENDT_CD"/> 
		<result property="endtTitle" 		column="ENDT_TITLE"/> 
		<result property="changeTag" 		column="CHANGE_TAG"/>
		<result property="remarks" 			column="REMARKS"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property="deductibles" resultMap="assocDeductiblesMap"></association>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Deductibles" id="assocDeductiblesMap">
		<result property="coverCd" 			column="D_COVER_CD"/> 
		<result property="endtCd" 			column="D_ENDT_CD"/> 
		<result property="endtTitle" 		column="D_ENDT_TITLE"/> 
		<result property="deductibleCd"     column="D_DEDUCTIBLE_CD"/>
		<result property="deductibleTitle" 	column="D_DEDUCTIBLE_TITLE"/> 
		<result property="deductibleRt" 	column="D_DEDUCTIBLE_RT"/>
		<result property="deductibleAmt" 	column="D_DEDUCTIBLE_AMT"/>
		<result property="deductibleTxt" 	column="D_DEDUCTIBLE_TXT"/>
		<result property="createUser" 		column="D_CREATE_USER"/> 
		<result property="createDate" 		column="D_CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/> 
		<result property="updateUser" 		column="D_UPDATE_USER"/> 
		<result property="updateDate" 		column="D_UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrievePolEndt" resultMap="polEndtMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(POL_ENDT_PKG.ret_pol_endt(#{policyId, jdbcType=INTEGER},
														  #{policyNo, jdbcType=VARCHAR},
														  #{position, jdbcType=VARCHAR}, 
														  #{count, jdbcType=VARCHAR}, 
														  #{sortKey, jdbcType=VARCHAR}, 
														  #{order, jdbcType=VARCHAR}))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Item" id="itemMap">
	    <result property="policyId" 		column="POLICY_ID"/> 
		<result property="policyNo" 		column="POLICY_NO"/> 
		<result property="projId" 			column="PROJ_ID"/> 
		<result property="riskId" 			column="RISK_ID"/> 
		<result property="riskName" 		column="RISK_NAME"/> 
		<result property="itemNo" 			column="ITEM_NO"/> 
		<result property="quantity" 		column="QUANTITY"/> 
		<result property="itemDesc" 		column="ITEM_DESC"/> 
		<result property="makeYear" 		column="MAKE_YEAR"/> 
		<result property="deductibleTxt" 	column="DEDUCTIBLE_TXT"/> 
		<result property="sumInsured" 		column="SUM_INSURED"/> 
		<result property="stockType" 		column="STOCK_TYPE"/> 
	    <result property="serialNo"         column="SERIAL_NO"/> 
		<result property="location" 	    column="LOCATION"/> 
		<result property="chamberNo" 		column="CHAMBER_NO"/> 
		<result property="noClaimPd" 		column="NO_CLAIM_PD"/> 
		<result property="ipl" 	   			column="IPL"/> 
		<result property="relativeImp" 		column="RELATIVE_IMP"/> 
		<result property="standbyUnit" 		column="STANDBY_UNIT"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.CATPeril" id="catPerilMap">
	    <result property="policyId" 		column="POLICY_ID"/> 
		<result property="policyNo" 		column="POLICY_NO"/> 
		<result property="catPrlId" 	    column="CAT_PERIL_ID"/> 
		<result property="pctShrPrm" 	    column="PCT_SHARE_PREM"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>

	<select id="retrievePolItem" resultMap="itemMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(POL_ITEM_PKG.ret_pol_itm(#{policyId, jdbcType=VARCHAR},
													     #{policyNo, jdbcType=VARCHAR}, 
													     null, 
													     null, 
													     null, 
													     null))
	</select>

	<select id="retrievePolCATPeril" resultMap="catPerilMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(POL_CAT_PERIL_PKG.ret_pol_cat_prl(#{policyId, jdbcType=VARCHAR},
													     #{policyNo, jdbcType=VARCHAR}, 
													     null, 
													     null, 
													     null, 
													     null))
	</select>
	
	<select id="retrievePolGenInfo" resultMap="policyMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(POL_GEN_INFO_PKG.ret_pol_gen_info(#{policyId, jdbcType=INTEGER},
													     		  #{policyNo, jdbcType=VARCHAR}, 
													     	      null, 
													     		  null, 
													     		  null, 
													     		  null))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.Alop" id="assocAlop">
		<result property="insId" column="INS_ID"/>
		<result property="insuredName" column="INSURED_NAME"/>
		<result property="insuredDesc" column="INSURED_DESC"/>
		<result property="address" column="ADDRESS"/>
		<result property="annSi" column="ANN_SI"/>
		<result property="maxIndemPdSi" column="MAX_INDEM_PD_SI"/>
		<result property="issueDate" column="ISSUE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="expiryDate" column="EXPIRY_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="maxIndemPd" column="MAX_INDEM_PD"/>
		<result property="indemFromDate" column="INDEM_FROM_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="timeExc" column="TIME_EXC"/>
		<result property="repInterval" column="REP_INTERVAL"/>
		<result property="createUser" column="CREATE_USER"/>
		<result property="createDate" column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" column="UPDATE_USER"/>
		<result property="updateDate" column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<association property="alopItem" resultMap="assocAlopItem"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.underwriting.AlopItem" id="assocAlopItem">
		<result property="itemNo" column="ITEM_NO"/>
		<result property="quantity" column="QUANTITY"/>
		<result property="description" column="DESCRIPTION"/>
		<result property="importance" column="IMPORTANCE"/>
		<result property="lossMin" column="LOSS_MIN"/>
		<result property="createUser" column="CREATE_USER"/>
		<result property="createDate" column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser" column="UPDATE_USER"/>
		<result property="updateDate" column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		
	</resultMap>
	
	<select id="retrievePolAlop" resultMap="policyMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(POL_ALOP_PKG.ret_pol_alop(#{policyId, jdbcType=INTEGER}, 
													  #{policyNo, jdbcType=VARCHAR},
																	  null, 
																      null, 
																	  null, 
																	  null))
	</select>
	
	<select id="retrievePolAlopItem" resultMap="policyMap" parameterType="java.util.Map">
		SELECT * FROM TABLE(POL_ALOP_ITEM_PKG.ret_pol_alop_item(#{policyId, jdbcType=INTEGER},
			#{policyNo, jdbcType=VARCHAR}, null, null, null, null))
	</select>
	
	<update id="savePolAttachment" parameterType="java.util.Map">
		BEGIN
		   <foreach collection="savePolAttachments" item="attachment">
		   	   POL_ATTACHMENT_PKG.save_pol_attchmnt(#{policyId},
		   	   										#{attachment.fileNo, jdbcType=VARCHAR},
		   	   										#{attachment.fileName},
		   	   										#{attachment.description, jdbcType=VARCHAR},
		   	   										#{attachment.createUser},
			   										CAST(to_timestamp(#{attachment.createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
			   										#{attachment.updateUser},
			   										CAST(to_timestamp(#{attachment.updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE));
		   </foreach>
		   <foreach collection="deletePolAttachments" item="attachment">
		   		POL_ATTACHMENT_PKG.del_pol_attchmnt(#{policyId},
		   											#{attachment.fileNo, jdbcType=VARCHAR});
		   </foreach>
		END;
	</update>

	
	<update id="savePolicyDeductibles" parameterType="java.util.Map">
		BEGIN
			<foreach collection="deleteDeductibleList" item="deductible">
		   		POL_DEDUCTIBLES_PKG.del_pol_deductibles(
		   			#{policyId},#{deductible.coverCd},#{deductible.endtCd},#{deductible.deductibleCd,jdbcType=VARCHAR}
		   		);
		    </foreach>
			<foreach collection="saveDeductibleList" item="deductible">
		   		POL_DEDUCTIBLES_PKG.save_pol_deductibles(
		   			#{policyId},#{deductible.coverCd,jdbcType=VARCHAR},#{deductible.endtCd},#{deductible.deductibleCd},#{deductible.deductibleRt},
		   			#{deductible.deductibleAmt,jdbcType=VARCHAR},#{deductible.deductibleTxt},#{deductible.createUser},
		   			CAST(to_timestamp(#{deductible.createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),#{deductible.updateUser},
				   	CAST(to_timestamp(#{deductible.updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE) 
		   		);
			</foreach>
		END;
	</update>
	
	<update id="savePolCoverage" parameterType="java.util.Map">
		BEGIN
			POL_COVERAGE_PKG.save_pol_cover( #{policyId},#{projId},#{riskId},#{sectionISi}, #{sectionIISi}, #{sectionIIISi}, #{totalSi},
										   #{sectionIPrem}, #{sectionIIPrem}, #{sectionIIIPrem}, 
										   #{totalPrem}, #{currencyCd}, #{currencyRt}, #{pctShare}, 
										   #{pctPml}, #{totalValue}, #{remarks}, #{createUser}, 
										    CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE), 
										    #{updateUser},  CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE));
										   
			<foreach collection="deleteSectionCovers" item="sectioncovers">
				POL_SEC_COVER_PKG.del_pol_cover (#{policyId},#{projId},#{riskId},#{sectioncovers.lineCd}, 
													#{sectioncovers.section}  ,#{sectioncovers.coverCd});
			</foreach>
			
			<foreach collection="saveSectionCovers" item="sectioncovers">
				POL_SEC_COVER_PKG.save_pol_sec_cvrs(#{policyId},#{projId},#{riskId},#{sectioncovers.lineCd}, 
													#{sectioncovers.section}  ,#{sectioncovers.coverCd} ,
													#{sectioncovers.bulletNo},#{sectioncovers.sumInsured},
													#{sectioncovers.premRt},#{sectioncovers.premAmt},
													#{sectioncovers.addSi},#{sectioncovers.createUserSec},
													CAST(to_timestamp(#{sectioncovers.createDateSec}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													#{sectioncovers.updateUserSec}, CAST(to_timestamp(#{sectioncovers.createDateSec}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE));
			</foreach>
		END;
	</update>
	
	<update id="savePolHoldCover" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POL_HOLD_COVER_PKG.save_pol_hold_cover(
				 #{polHoldCoverNo, mode=OUT, jdbcType=VARCHAR},
				 #{policyId},
				 #{holdCovId},
				 #{lineCd},
				 #{holdCovYear},
				 #{holdCovSeqNo},
				 #{holdCovRevNo},
				 #{periodFrom},
				 #{periodTo},
				 #{compRefHoldCovNo, jdbcType=VARCHAR},
				 #{status},
				 #{reqBy, jdbcType=VARCHAR},
				 #{reqDate},
				 #{preparedBy, jdbcType=VARCHAR},
				 #{approvedBy, jdbcType=VARCHAR},
				 #{createUser},
				 CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				 #{updateUser},
				 CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
			);
		END;
	</update>

</mapper>
