<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ph.cpi.mybatis.mapper.UnderwritingMapper">

	<resultMap type="ph.cpi.rest.api.model.underwriting.Attachment" id="polAttachmentMap">
	    <result property="policyId" 		column="POLICY_ID"/> 
		<result property="policyNo" 		column="POLICY_NO"/> 
		<result property="fileNo" 			column="FILE_NO"/> 
		<result property="fileName" 		column="FILE_NAME"/> 
		<result property="description" 		column="DESCRIPTION"/> 
		<result property="createUser" 		column="CREATE_USER"/> 
		<result property="createDate" 		column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/> 
		<result property="updateUser" 		column="UPDATE_USER"/> 
		<result property="updateDate" 		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	</resultMap>
	
	<select id="retrievePolAttachment" resultMap="polAttachmentMap" parameterType="java.util.Map">
			SELECT * FROM TABLE(POL_ATTACHMENT_PKG.ret_pol_attchmnt(#{policyId, jdbcType=INTEGER},
																	#{policyNo, jdbcType=VARCHAR},
																	#{position, jdbcType=VARCHAR}, 
																	#{count, jdbcType=VARCHAR}, 
																	#{sortKey, jdbcType=VARCHAR}, 
																	#{order, jdbcType=VARCHAR}))
	</select>

</mapper>