<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ph.cpi.mybatis.mapper.UserMapper">

	<resultMap type="ph.cpi.rest.api.model.maintenance.Users" id="usersMap">
     	<result property="userId"            	column="USER_ID"/>
		<result property="userGrp"           	column="USER_GRP"/>
		<result property="userGrpDesc"			column="USER_GRP_DESC"/>
		<result property="userName"          	column="USER_NAME"/>
		<result property="activeTag"         	column="ACTIVE_TAG"/>
		<result property="password"           	column="PASSWORD"/>
		<result property="emailAddress"      	column="EMAIL_ADDRESS"/>
		<result property="remarks"            	column="REMARKS"/>
		<result property="lastLogin"         	column="LAST_LOGIN"         	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="passwordResetDate"	column="PASSWORD_RESET_DATE"	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="salt"               	column="SALT"/>
		<result property="invalidLoginTries"	column="INVALID_LOGIN_TRIES"/>
		<result property="createUser"			column="CREATE_USER"/>
		<result property="createDate"        	column="CREATE_DATE"        	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"        	column="UPDATE_USER"/>
		<result property="updateDate"			column="UPDATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     	<association property="userTran" resultMap="userTranMap"></association>
     </resultMap>
     
    <select id="retMtnUsers" resultMap="usersMap" parameterType="java.util.Map">
    	SELECT * FROM TABLE(MTN_USERS_PKG.ret_mtn_users(#{userId, jdbcType=VARCHAR},
    											  #{userGrp, jdbcType=VARCHAR},
												  #{position, jdbcType=VARCHAR}, 
												  #{count, jdbcType=VARCHAR}, 
												  #{sortKey, jdbcType=VARCHAR}, 
												  #{order, jdbcType=VARCHAR}))
	</select>
	
	<resultMap type="ph.cpi.rest.api.model.maintenance.UserTran" id="userTranMap">
     	<result property="userId"            	column="USER_ID"/>
		<result property="tranCd"           	column="TRAN_CD"/>
		<result property="description"			column="TRAN_DESC"/>
		<result property="remarks"            	column="REMARKS"/>
		<result property="createUser"			column="CREATE_USER"/>
		<result property="createDate"        	column="CREATE_DATE"        	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"        	column="UPDATE_USER"/>
		<result property="updateDate"			column="UPDATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     	<association property="userModule" resultMap="userModuleMap"></association>
     </resultMap>
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.UserModule" id="userModuleMap">
     	<result property="userId"            	column="USER_ID"/>
		<result property="tranCd"           	column="TRAN_CD"/>
		<result property="moduleId"				column="MODULE_ID"/>
		<result property="moduleDesc"			column="MODULE_DESC"/>
		<result property="remarks"            	column="REMARKS"/>
		<result property="createUser"			column="CREATE_USER"/>
		<result property="createDate"        	column="CREATE_DATE"        	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"        	column="UPDATE_USER"/>
		<result property="updateDate"			column="UPDATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     </resultMap>
     
     <select id="retrieveMtnUserAccess" resultMap="usersMap" parameterType="java.util.Map">
    	SELECT * FROM TABLE(MTN_USERS_PKG.retrieve_mtn_user_access(#{userId, jdbcType=VARCHAR},
												  #{position, jdbcType=VARCHAR}, 
												  #{count, jdbcType=VARCHAR}, 
												  #{sortKey, jdbcType=VARCHAR}, 
												  #{order, jdbcType=VARCHAR}))
     </select>
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.UserGrp" id="userGrpMap">
     	<result property="userGrp"            	column="USER_GRP"/>
		<result property="userGrpDesc"          column="USER_GRP_DESC"/>
		<result property="remarks"            	column="REMARKS"/>
		<result property="createUser"			column="CREATE_USER"/>
		<result property="createDate"        	column="CREATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"        	column="UPDATE_USER"/>
		<result property="updateDate"			column="UPDATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     	<association property="userGrpTran" resultMap="userGrpTranMap"></association>
     </resultMap>
     
     <select id="retrieveMtnUserGroup" resultMap="userGrpMap" parameterType="java.util.Map">
    	SELECT * FROM TABLE(MTN_USER_GRP_PKG.retrieve_mtn_user_group(#{userGrp, jdbcType=INTEGER},
												  #{position, jdbcType=VARCHAR}, 
												  #{count, jdbcType=VARCHAR}, 
												  #{sortKey, jdbcType=VARCHAR}, 
												  #{order, jdbcType=VARCHAR}))
     </select>
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.UserGrpTran" id="userGrpTranMap">
     	<result property="userGrp"            	column="USER_GRP"/>
		<result property="tranCd"          		column="TRAN_CD"/>
		<result property="description"          column="TRAN_DESC"/>
		<result property="remarks"            	column="REMARKS"/>
		<result property="createUser"			column="CREATE_USER"/>
		<result property="createDate"        	column="CREATE_DATE"        	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"        	column="UPDATE_USER"/>
		<result property="updateDate"			column="UPDATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     	<association property="userGrpModule" resultMap="userGrpModuleMap"></association>
     </resultMap>
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.UserGrpModule" id="userGrpModuleMap">
     	<result property="userGrp"            	column="USER_GRP"/>
		<result property="tranCd"          		column="TRAN_CD"/>
		<result property="moduleId"          	column="MODULE_ID"/>
		<result property="moduleDesc"           column="MODULE_DESC"/>
		<result property="remarks"            	column="REMARKS"/>
		<result property="createUser"			column="CREATE_USER"/>
		<result property="createDate"        	column="CREATE_DATE"        	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"        	column="UPDATE_USER"/>
		<result property="updateDate"			column="UPDATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     </resultMap>
     
     <resultMap type="ph.cpi.rest.api.model.maintenance.UserAmtLimit" id="userAmtLmtMap">
     	<result property="userGrp"            	column="USER_GRP"/>
		<result property="lineCd"           	column="LINE_CD"/>
		<result property="allAmtSw"            	column="ALL_AMT_SW"/>
		<result property="amtLimit"            	column="AMT_LIMIT"/>
		<result property="remarks"            	column="REMARKS"/>
		<result property="createUser"			column="CREATE_USER"/>
		<result property="createDate"        	column="CREATE_DATE"        	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"        	column="UPDATE_USER"/>
		<result property="updateDate"			column="UPDATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     </resultMap>
     
     <select id="retrieveMtnUserGroupAccess" resultMap="userGrpMap" parameterType="java.util.Map">
    	SELECT * FROM TABLE(MTN_USER_GRP_PKG.retrieve_mtn_user_group_access(#{userGrp, jdbcType=INTEGER},
												  #{position, jdbcType=VARCHAR}, 
												  #{count, jdbcType=VARCHAR}, 
												  #{sortKey, jdbcType=VARCHAR}, 
												  #{order, jdbcType=VARCHAR}))
     </select>
     
     <select id="retrieveMtnUserAmountLimit" resultMap="userAmtLmtMap" parameterType="java.util.Map">
    	SELECT * FROM TABLE(MTN_USR_AMT_LMT_PKG.ret_mtn_usr_amt_lmt(
    											  #{userGrp, jdbcType=INTEGER},
    											  #{lineCd, jdbcType=VARCHAR},
												  #{position, jdbcType=VARCHAR}, 
												  #{count, jdbcType=VARCHAR}, 
												  #{sortKey, jdbcType=VARCHAR}, 
												  #{order, jdbcType=VARCHAR}))
     </select>
     
     <update id="saveApproval" parameterType="java.util.Map">
     	BEGIN
     		APPROVAL_PKG.save_ets_approval(
     			#{approvalId,jdbcType=INTEGER},
				#{referenceId,jdbcType=INTEGER},
				#{module,jdbcType=VARCHAR},
				#{moduleId,jdbcType=VARCHAR},
				#{details,jdbcType=VARCHAR},
				CAST(to_timestamp(#{assignedDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{assignedTo,jdbcType=VARCHAR},
				#{assignedBy,jdbcType=VARCHAR},
				#{approvalTag,jdbcType=VARCHAR},
				#{createUser,jdbcType=VARCHAR},
				CAST(to_timestamp(#{createDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{updateUser,jdbcType=VARCHAR},
				CAST(to_timestamp(#{updateDate}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE)
     		);
     	END;
     </update>
     
</mapper>