<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ph.cpi.mybatis.mapper.UtilMapper">
	
	<update id="extractPOLR044A" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044A_PKG.EXTRACT_POL_WRITTENCOMP(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{incRecTag, jdbcType=VARCHAR},
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044B" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044B_PKG.extract_pol_expirylist (
											        #{extractUser, jdbcType=VARCHAR}, 
                                                    #{extractDate, jdbcType=VARCHAR}, 
                                                    #{lineCdParam, jdbcType=VARCHAR}, 
                                                    #{cedingIdParam, jdbcType=VARCHAR}, 
                                                    #{dateRange, jdbcType=VARCHAR}, 
                                                    CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  	CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
											        #{extractCount, mode=OUT, jdbcType=INTEGER},
											        #{forceExtract, jdbcType=VARCHAR},
											        #{currCdParam, jdbcType=VARCHAR}
										        );
		END;
	</update>
	
	<update id="extractPOLR044C" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044C_PKG.extract_pol_prod_stat_ext(
				#{extractUser, jdbcType=VARCHAR}, 
				#{dateParam, jdbcType=VARCHAR},
				#{dateRange, jdbcType=VARCHAR},
				CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{incRecTag, jdbcType=VARCHAR},
				#{currCdParam, jdbcType=VARCHAR},
				#{lineCdParam, jdbcType=VARCHAR},
				#{extractCount, mode=OUT, jdbcType=INTEGER},
				#{forceExtract, jdbcType=VARCHAR}
		    );
		END;
	</update>
	
	<update id="extractPOLR044D" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044D_PKG.extract_polr052d(
											        #{extractUser, jdbcType=VARCHAR},
											        #{dateParam, jdbcType=VARCHAR},
											        #{dateRange, jdbcType=VARCHAR},
											        CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
											        CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												    #{lineCdParam, jdbcType=VARCHAR},
												    #{cedingIdParam, jdbcType=VARCHAR},,
											        #{currCdParam, jdbcType=VARCHAR} 
											        #{extractCount, jdbcType=INTEGER, mode=OUT},
											        #{forceExtract, jdbcType=VARCHAR}
											    );
		END;
	</update>
	
	<update id="extractPOLR044E" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044E_PKG.extract_pol_buswritten_ext (
												        #{extractUser, jdbcType=VARCHAR}, 
												        #{dateParam, jdbcType=VARCHAR}, 
												        #{dateRange, jdbcType=VARCHAR},
												        CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												        CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												        #{incRecTag, jdbcType=VARCHAR},
												        #{extractCount, jdbcType=INTEGER, mode=OUT},
												        #{forceExtract, jdbcType=VARCHAR},
												        #{currCdParam, jdbcType=VARCHAR}
												    );
		END;
	</update>
	
	<update id="extractPOLR044F" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044F_PKG.extract_pol_premprod_comp_ext(
				#{extractUser, jdbcType=VARCHAR}, 
				#{dateParam, jdbcType=VARCHAR},
				#{dateRange, jdbcType=VARCHAR},
				CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
				#{incRecTag, jdbcType=VARCHAR},
				#{currCdParam, jdbcType=VARCHAR},
				#{cedingIdParam, jdbcType=VARCHAR},
				#{extractCount, mode=OUT, jdbcType=INTEGER},
				#{forceExtract, jdbcType=VARCHAR}
		    );
		END;
	</update>
	
	<update id="extractPOLR044G" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044G_PKG.extract_pol_renwritten_ext(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{incRecTag, jdbcType=VARCHAR},
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044H" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044H_PKG.extract_pol_premw(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{incRecTag, jdbcType=VARCHAR},
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044I" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044I_PKG.extract_pol_buswritten_prem_ext(#{extractUser, jdbcType=VARCHAR},
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													  #{incRecTag, jdbcType=VARCHAR},
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044J" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044J_PKG.extract_acit_premaloc_ced_ext(#{extractUser, jdbcType=VARCHAR},
													  #{dateParam, jdbcType=VARCHAR},
													  #{dateRange, jdbcType=VARCHAR},
													  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													  #{lineCdParam, jdbcType=VARCHAR},
													  #{cedingIdParam, jdbcType=VARCHAR},
													  #{currCdParam, jdbcType=VARCHAR},
													  #{incRecTag, jdbcType=VARCHAR},
													  #{extractCount, mode=OUT, jdbcType=INTEGER},
													  #{forceExtract, jdbcType=VARCHAR}
													  );
		END;
	</update>
	
	<update id="extractPOLR044K" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044K_PKG.extract_acit_premaloc_trty_ext(#{extractUser, jdbcType=VARCHAR},
													  #{dateParam, jdbcType=VARCHAR},
													  #{dateRange, jdbcType=VARCHAR},
													  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
													  #{lineCdParam, jdbcType=VARCHAR},
													  #{cedingIdParam, jdbcType=VARCHAR},
													  #{currCdParam, jdbcType=VARCHAR},
													  #{incRecTag, jdbcType=VARCHAR},
													  #{extractCount, mode=OUT, jdbcType=INTEGER},
													  #{forceExtract, jdbcType=VARCHAR}
													  );
		END;
	</update>
	
	<update id="extractPOLR044L" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044L_PKG.extract_pol_osdistlist(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{incRecTag, jdbcType=VARCHAR},
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044M" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044M_PKG.extract_pol_wetriskzone(#{extractUser, jdbcType=VARCHAR},
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044N" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044N_PKG.extract_pol_curexposure(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>

	<update id="extractPOLR044O" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044O_PKG.extract_burncost(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044OA" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044OA_PKG.extract_burncost(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044OB" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044OB_PKG.extract_burncost(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044P" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044P_PKG.extract_accsipercomp(#{extractUser, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044Q" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044Q_PKG.extract_accsiall(#{extractUser, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractACITR061F" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			ACITR061F_PKG.extract_acitr061f(#{extractUser, jdbcType=VARCHAR},
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractACITR061G" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			ACITR061G_PKG.extract_acitr061g(#{extractUser, jdbcType=VARCHAR},
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044V" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044V_PKG.extract_polr044v(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{incRecTag, jdbcType=VARCHAR},
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044W" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044W_PKG.extract_pol_quote_issued_ext(#{extractUser, jdbcType=VARCHAR},
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{incRecTag, jdbcType=VARCHAR},
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam,jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR044X" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR044X_PKG.extract_polr044x(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR}, 
												  #{dateParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{incRecTag, jdbcType=VARCHAR},
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractACITR048A" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			ACITR048A_PKG.extract_acitr048a(#{extractUser, jdbcType=VARCHAR},
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010A" parameterType="java.util.Map" statementType="CALLABLE">
		<!-- BEGIN
			CLMR010A_PKG.extract_clm_largeloss(#{extractUser, jdbcType=VARCHAR},
												#{lineCdParam, jdbcType=VARCHAR},
												#{cedingIdParam, jdbcType=VARCHAR},
												#{dateParam, jdbcType=VARCHAR},
												#{dateRange, jdbcType=VARCHAR},
												CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR});
		END; -->
		
		BEGIN
			CLMR010A_PKG.extract_clmr010a(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR},
										  #{minLossAmt, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010B" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010B_PKG.extract_clmr010b(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010C" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010C_PKG.extract_clmr010c(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{clmAdj, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR},
										  #{clmStat, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010D" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010D_PKG.extract_clmr010d(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010E" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010E_PKG.extract_clmr010e(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010F" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010F_PKG.extract_clmr010f(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010G" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010G_PKG.extract_clmr010g(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractBRDRX" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			ACIT_BRDRX_EXT_PKG.extract_acit_brdrx(#{extractUser, jdbcType=VARCHAR},
												#{osPaidTag, jdbcType=VARCHAR},
												#{extTypeTag, jdbcType=VARCHAR},
												#{dateParam, jdbcType=VARCHAR},
												#{dateRange, jdbcType=VARCHAR},
												CAST(to_timestamp(#{dateFrom, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
											    CAST(to_timestamp(#{dateTo, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												#{lineCd, jdbcType=VARCHAR},
												#{cessionId, jdbcType=VARCHAR},
												#{extractCount, mode=OUT, jdbcType=INTEGER},
												#{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR052A" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR052A_PKG.extract_pol_prembrdx(#{extractUser, jdbcType=VARCHAR},
											  #{lineCdParam, jdbcType=VARCHAR},
											  #{dateParam, jdbcType=VARCHAR},
										      #{dateRange, jdbcType=VARCHAR},
											  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
											  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
											  #{extractCount, mode=OUT, jdbcType=INTEGER},
											  #{forceExtract, jdbcType=VARCHAR},
											  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR052B" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR052B_PKG.extract_pol_prembrdx_iss(#{extractUser, jdbcType=VARCHAR},
											  	  #{lineCdParam, jdbcType=VARCHAR},
											  	  #{dateParam, jdbcType=VARCHAR},
										      	  #{dateRange, jdbcType=VARCHAR},
											  	  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
											  	  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
											  	  #{extractCount, mode=OUT, jdbcType=INTEGER},
											  	  #{forceExtract, jdbcType=VARCHAR},
											  	  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR052C" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR052C_PKG.extract_pol_prembrdx_ret(#{extractUser, jdbcType=VARCHAR},
											  	  #{lineCdParam, jdbcType=VARCHAR},
											  	  #{dateParam, jdbcType=VARCHAR},
										      	  #{dateRange, jdbcType=VARCHAR},
											  	  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
											  	  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
											  	  #{extractCount, mode=OUT, jdbcType=INTEGER},
											  	  #{forceExtract, jdbcType=VARCHAR},
											  	  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR052D" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR052D_PKG.extract_get_pol_otwrdfcl(#{extractUser, jdbcType=VARCHAR},
												  #{lineCdParam, jdbcType=VARCHAR},
												  #{cedingIdParam, jdbcType=VARCHAR},
												  #{dateRange, jdbcType=VARCHAR},
												  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
												  #{extractCount, mode=OUT, jdbcType=INTEGER},
												  #{forceExtract, jdbcType=VARCHAR},
												  #{currCdParam, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractPOLR052E" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR052E_PKG.extract_polr052e(#{extractUser, jdbcType=VARCHAR},
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR}
										  );
		END;
	</update>
	
	<update id="extractPOLR052F" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			POLR052F_PKG.extract_polr052f(#{extractUser, jdbcType=VARCHAR},
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR}
										  );
		END;
	</update>
	
	<update id="extractCLMR010H" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010H_PKG.extract_clmr010h(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010I" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010I_PKG.extract_clmr010i(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010J" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010J_PKG.extract_clmr010j(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010K" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010K_PKG.extract_clmr010k(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
		END;
	</update>
	
	<update id="extractCLMR010L" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010L_PKG.extract_clmr010l(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010M" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010M_PKG.extract_clmr010m(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	
	<update id="extractCLMR010N" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010N_PKG.extract_clmr010n(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010O" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010O_PKG.extract_clmr010o(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010P" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010P_PKG.extract_clmr010p(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010Q" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010Q_PKG.extract_clmr010q(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010R" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010R_PKG.extract_clmr010r(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010S" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010S_PKG.extract_clmr010s(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010T" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010T_PKG.extract_clmr010t(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010U" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010U_PKG.extract_clmr010u(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010V" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010V_PKG.extract_clmr010v(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010W" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010W_PKG.extract_clmr010w(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010X" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010X_PKG.extract_clmr010x(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010Y" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010Y_PKG.extract_clmr010y(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	
	
	
	<update id="extractCLMR010Z" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			CLMR010Z_PKG.extract_clmr010z(#{extractUser, jdbcType=VARCHAR},
										  null,
										  #{dateParam, jdbcType=VARCHAR},
										  #{dateRange, jdbcType=VARCHAR},
										  CAST(to_timestamp(#{fromDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  CAST(to_timestamp(#{toDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS') AS DATE),
										  #{extTypeTag, jdbcType=VARCHAR},
										  #{lineCdParam, jdbcType=VARCHAR},
										  #{cedingIdParam, jdbcType=VARCHAR},
										  #{currCdParam, jdbcType=VARCHAR},
										  #{extractCount, mode=OUT, jdbcType=INTEGER},
										  #{forceExtract, jdbcType=VARCHAR});
	
	
										  
		END;
	</update>
	

	
	
	<select id="getReportFileName" resultType="java.lang.String" parameterType="java.util.Map" >
		SELECT MTN_REPORTS_PKG.get_report_file_name(#{reportId}) FROM DUAL
	</select>
	
	<select id="getReportPath" resultType="java.lang.String"  >
		SELECT MTN_REPORTS_PKG.get_report_path() FROM DUAL
	</select>
</mapper>