<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ph.cpi.mybatis.mapper.WorkFlowMapper">

	<resultMap type="ph.cpi.rest.api.model.workflowmanager.Reminder" id="reminderMap">
     	<result property="reminderId"            	column="REMINDER_ID"/>
		<result property="title"           			column="TITLE"/>
		<result property="reminder"			        column="REMINDER"/>
		<result property="reminderDate"            	column="REMINDER_DATE"          typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
	    <result property="alarmTime"            	column="ALARM_TIME"/>
	    <result property="impTag"            		column="IMP_TAG"/>
	    <result property="urgTag"            		column="URG_TAG"/>
	    <result property="module"			        column="MODULE"/>
		<result property="referenceId"			    column="REFERENCE_ID"/>
		<result property="details"			        column="DETAILS"/>
		<result property="assignedTo"               column="ASSIGNED_TO"/>
		<result property="status"			        column="STATUS"/>
		<result property="createUser"			    column="CREATE_USER"/>
		<result property="createDate"        	    column="CREATE_DATE"        	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"        	    column="UPDATE_USER"/>
		<result property="updateDate"			    column="UPDATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<collection property="relatedRecordList" javaType="ArrayList" column="{module = MODULE, referenceId = REFERENCE_ID}" ofType="relatedRecordMap" select="retrieveRelatedRecords"/>
     </resultMap>
     
     <select id="retrieveReminders" resultMap="reminderMap" parameterType="java.util.Map">
    	SELECT * FROM TABLE(WFM_REMINDERS_PKG.ret_reminders(#{reminderId, jdbcType=VARCHAR},
    										      #{assignedTo, jdbcType=VARCHAR},
    										      #{createUser, jdbcType=VARCHAR},
    										      #{impTag, jdbcType=VARCHAR},
    										      #{urgTag, jdbcType=VARCHAR},
    										      #{module, jdbcType=VARCHAR},
    										      #{referenceId, jdbcType=VARCHAR},
    										      #{status, jdbcType=VARCHAR},
												  #{position, jdbcType=VARCHAR}, 
												  #{count, jdbcType=VARCHAR}, 
												  #{sortKey, jdbcType=VARCHAR},
												  #{order, jdbcType=VARCHAR}))
     </select>
     
    <update id="saveReminders" parameterType="java.util.Map" statementType="CALLABLE">
    	BEGIN
			<foreach collection="reminderList" item="reminder">
			BEGIN
		    	WFM_REMINDERS_PKG.save_reminders(
												   #{reminder.reminderId, jdbcType=INTEGER},
												   #{reminder.title, jdbcType=VARCHAR},
												   #{reminder.reminder, jdbcType=VARCHAR},
												   CAST(to_timestamp(#{reminder.reminderDate, jdbcType=VARCHAR}, 'YYYY-MM-DD"T"HH24:MI:SS".000Z"') AS DATE),
												   #{reminder.alarmTime, jdbcType=VARCHAR},
												   #{reminder.impTag, jdbcType=VARCHAR},
    										       #{reminder.urgTag, jdbcType=VARCHAR},
												   #{reminder.module, jdbcType=VARCHAR},
												   #{reminder.referenceId, jdbcType=VARCHAR},
												   #{reminder.details, jdbcType=VARCHAR},
												   #{reminder.assignedTo, jdbcType=VARCHAR},
												   #{reminder.status, jdbcType=VARCHAR},
												   #{reminder.createUser, jdbcType=VARCHAR},
												   #{reminder.updateUser, jdbcType=VARCHAR}									  
				);
			END;
			</foreach>
		END;
	</update>
	
	<resultMap type="ph.cpi.rest.api.model.workflowmanager.RelatedRecord" id="relatedRecordMap">
		<result property="module"			        column="MODULE"/>
		<result property="referenceId"			    column="REFERENCE_ID"/>
		<result property="referenceNo"			    column="REFERENCE_NO"/>
	</resultMap>
	
	<resultMap type="ph.cpi.rest.api.model.workflowmanager.Note" id="noteMap">
     	<result property="noteId"            	    column="NOTE_ID"/>
		<result property="title"           			column="TITLE"/>
		<result property="note"			            column="NOTE"/>
		<result property="impTag"			        column="IMP_TAG"/>
		<result property="urgTag"			        column="URG_TAG"/>
		<result property="module"			        column="MODULE"/>
		<result property="referenceId"			    column="REFERENCE_ID"/>
		<result property="details"			        column="DETAILS"/>
		<result property="assignedTo"               column="ASSIGNED_TO"/>
		<result property="status"			        column="STATUS"/>
		<result property="createUser"			    column="CREATE_USER"/>
		<result property="createDate"        	    column="CREATE_DATE"        	typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"        	    column="UPDATE_USER"/>
		<result property="updateDate"			    column="UPDATE_DATE"			typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<collection property="relatedRecordList" javaType="ArrayList" column="{module = MODULE, referenceId = REFERENCE_ID}" ofType="relatedRecordMap" select="retrieveRelatedRecords"/>
     </resultMap>
     
     
     <select id="retrieveRelatedRecords" resultMap="relatedRecordMap" parameterType="java.util.Map">
    	SELECT * FROM TABLE(WFM_TRANSACTIONS_PKG.retrieve_rel_record(#{module, jdbcType=VARCHAR},
    										      	#{referenceId, jdbcType=VARCHAR}))
     </select>
     
     
     <select id="retrieveNotes" resultMap="noteMap" parameterType="java.util.Map">
    	SELECT * FROM TABLE(WFM_NOTES_PKG.ret_notes(#{noteId, jdbcType=VARCHAR},
    										      #{assignedTo, jdbcType=VARCHAR},
    										      #{createUser, jdbcType=VARCHAR},
    										      #{impTag, jdbcType=VARCHAR},
    										      #{urgTag, jdbcType=VARCHAR},
    										      #{module, jdbcType=VARCHAR},
    										      #{referenceId, jdbcType=VARCHAR},
    										      #{status, jdbcType=VARCHAR},
												  #{position, jdbcType=VARCHAR},
												  #{count, jdbcType=VARCHAR}, 
												  #{sortKey, jdbcType=VARCHAR},
												  #{order, jdbcType=VARCHAR}))
     </select>
     
     <update id="saveNotes" parameterType="java.util.Map" statementType="CALLABLE">
		BEGIN
			<foreach collection="noteList" item="note">
			BEGIN
		    	WFM_NOTES_PKG.save_notes(
											   #{note.noteId, jdbcType=INTEGER},
											   #{note.title, jdbcType=VARCHAR},
											   #{note.note, jdbcType=VARCHAR},
											   #{note.impTag, jdbcType=VARCHAR},
											   #{note.urgTag, jdbcType=VARCHAR},
											   #{note.module, jdbcType=VARCHAR},
											   #{note.referenceId, jdbcType=VARCHAR},
											   #{note.details, jdbcType=VARCHAR},
											   #{note.assignedTo, jdbcType=VARCHAR},
											   #{note.status, jdbcType=VARCHAR},
											   #{note.createUser, jdbcType=VARCHAR},
											   #{note.updateUser, jdbcType=VARCHAR}
				);
			END;
			</foreach>
		END;
	</update>
	
	<resultMap type="ph.cpi.rest.api.model.workflowmanager.WfmTransaction" id="wfmTransactionMap">
		<result property="tranTitle"		column="TRAN_TITLE" />
		<result property="tranText"			column="TRAN_TEXT" />
		<result property="position"			column="POSITION" />
		<result property="imgUrl"			column="IMG_URL" />
		<result property="remarks"			column="REMARKS" />
		<result property="tranCount"		column="TRAN_COUNT" />
		<result property="createUser"		column="CREATE_USER"/>
		<result property="createDate"       column="CREATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
		<result property="updateUser"       column="UPDATE_USER"/>
		<result property="updateDate"		column="UPDATE_DATE" typeHandler="ph.cpi.rest.api.typehandler.DateTimeTypeHandler"/>
     </resultMap>
     
	<select id="retrieveTransactions" resultMap="wfmTransactionMap" parameterType="java.util.Map">
    	SELECT * FROM TABLE(WFM_TRANSACTIONS_PKG.retrieve_transactions(#{tranTitle, jdbcType=VARCHAR},
												  #{position, jdbcType=VARCHAR}, 
												  #{count, jdbcType=VARCHAR}, 
												  #{sortKey, jdbcType=VARCHAR},
												  #{order, jdbcType=VARCHAR}))
     </select>
</mapper>